{% extends 'common/base.html' %}
{% load static %}

{% block titulo %}<title>Inventario - Productos</title>{% endblock titulo %}

{% block sidebarlinks %}
{% include 'inventarios/productos/common/links.html' %}
{% endblock sidebarlinks %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"><h1 class="m-0">INVENTARIO</h1></div>
            </div>
        </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            
            <!--Row content -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header"><h5 class="m-0">Registro Completo de Productos</h5></div>

                        <div class="container">
                            <div class="row">
                                <!-- Columna centrada -->
                                <div class="col align-self-center">
                                    <!-- Header-tools -->
                                    <div class="card-header">
                                        <form class="card-tools m-0" method="GET">{% csrf_token %}
                                            <div class="input-group input-group-sm" style="width: 500px;">
                                                <input type="text" id="fnombre" name="fnombre" class="form-control float-right" placeholder="Ingresar nombre del producto">
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.header-tools -->
                                    <!-- Card-body -->
                                    <div class="card-body p-0">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th style="width: 80px;">Id</th>
                                                <th>Nombre</th>
                                                <th style="width: 120px;">Marca</th>
                                                <th style="width: 200px;">Modelo</th>
                                                <th style="width: 80px;">Stock</th>
                                                <th style="width: 80px;">Precio</th>
                                                <th style="width: 200px;">Más Información</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for producto in listar_productos %} 
                                                <tr>
                                                    <td>{{producto.id}}</td>
                                                    <td>{{producto.nombreP}}</td>
                                                    <td>{{producto.marcaP}}</td>
                                                    <td>{{producto.modeloP}}</td>
                                                    <td>{{producto.cantidadP}}</td>
                                                    <td>{{producto.precioP}}</td>
                                                    <td><a href="{% url 'inventarios:visualizar_productos' producto.id %}" type="button" class="btn btn-block btn-outline-primary btn-flat btn-xs">
                                                        <i class="fas fa-folder"></i><span style="margin-left: 10px;">Ver producto</span></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                    <!-- Pagination -->
                                    {% if is_paginated %}
                                    <nav class="m-4" aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end">
                                            {% if page_obj.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Anterior</a></li>    
                                            {% endif %}
                                            
                                            {% for pagina in paginator.page_range %}
                                                {% ifequal pagina page_obj.number  %} 
                                                <li class="page-item active"><a class="page-link" href="?page={{pagina}}">{{ pagina }}</a></li>        
                                                {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{ pagina }}</a></li> 
                                                {% endifequal %}   
                                            {% endfor %}
                                                
                                            {% if page_obj.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a></li>
                                            {% endif %}
                                        </ul>    
                                    </nav>
                                    {% endif %}
                                    <!-- ./pagination -->
                                    <br><br>
                                </div>
                                <!-- ./columna centrada -->

                            </div>
                            <!-- ./row-->    
                        </div>
                        <!-- ./container-->

                    </div>
                    <!-- ./card -->
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row content -->

        </div>
    </div>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
{% endblock content %}