{% extends 'common/base.html' %}
{% load static %}

{% block titulo %}<title>Inventario - Inicio</title>{% endblock titulo %}

{% block sidebarlinks %}
{% include 'inventarios/productos/common/links.html' %}
{% endblock sidebarlinks %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"><h1 class="m-0">INVENTARIO</h1></div>
            </div>
        </div>
    </div>
    <!-- /.content-header -->
    
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
                
            <!-- Row Content -->
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header"><h5 class="m-0">Página principal</h5></div>

                        <div class="card-body">
                            <p class="card-text">
                                Mensaje de bienvenida
                            </p>
                        </div>
                    </div>        
                </div>

            </div>
            <!-- ./row content -->
                
        </div>
    </div>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
{% endblock content %}