<table id="productos-tabla" class="table table-striped">
    <thead>
        <tr>
            <th class="text-center" style="width: 80px;">#</th>
            <th class="text-left">Nombre</th>
            <th class="text-center" style="width: 170px;">Marca</th>
            <th class="text-center" style="width: 220px;">Modelo</th>
            <th class="text-center" style="width: 80px;">Stock</th>
            <th class="text-center" style="width: 80px;">Precio</th>
            <th class="text-center" style="width: 250px;">Ver más / Actualizar / Eliminar</th>
        </tr>
    </thead>
    <tbody>
    {% for p in productos %}
        <tr>
          <th class="text-center">{{ p.id }}</th>
          <td class="text-left">{{ p.nombreP }}</td>
          <td class="text-center">{{ p.marcaP }}</td>
          <td class="text-center">{{ p.modeloP }}</td>
          <td class="text-center">{{ p.cantidadP }}</td>
          <td class="text-center">{{ p.precioP }}</td>
          <td class="text-center">
                <!-- Botón ver más -->
                <button type="button" class="leer-productos btn btn-sm btn-primary" data-form-url="{% url 'leer_productos' p.pk %}">
                    <span class="fas fa-eye"></span>
                </button>
                <!-- Botón actualizar producto -->
                <button type="button" class="actualizar-productos btn btn-sm btn-primary" data-form-url="{% url 'actualizar_productos' p.pk %}">
                    <span class="fas fa-pencil-alt"></span>
                </button>
                <!-- Botón eliminar producto -->
                <button type="button" class="eliminar-productos btn btn-sm btn-danger" data-form-url="{% url 'eliminar_productos' p.pk %}">
                    <span class="fas fa-trash"></span>
                </button>
          </td>
        </tr>
    {% endfor %}
    </tbody>
</table>