{% extends 'common/base.html' %}
{% load static %}

{% block titulo %}<title>Registrar nuevo producto</title>{% endblock titulo %}

{% block sidebarlinks %}
{% include 'inventarios/productos/common/links.html' %}
{% endblock sidebarlinks %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"><h1 class="m-0">REGISTRO</h1></div>
            </div>
        </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <!-- Row Content -->
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-header"><h5 class="m-0">Registrar nuevo producto</h5></div>

                        <div class="card-body">
                            <h6 class="card-title">Datos</h6>

                            <p class="card-text">
                                <form method="POST"> {% csrf_token %}
                                    <p>Nombre: {{form.nombreP}}</p>
                                    <p>Cantidad: {{form.cantidadP}}</p>
                                    <p>Precio: {{form.precioP}}</p>
                                    <p>Marca: {{form.marcaP}}</p>

                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>

                                <p class="m-4"><a href="http://127.0.0.1:8000/admin/inventarios/productos/" target="_blank">Ver inventario Admin</a></p>
                            </p>
                            
                        </div>
                    </div>        
                </div>

            </div>
            <!-- ./row content -->

        </div>
    </div>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
{% endblock content %}