{% extends 'common/base.html' %}
{% load static %}

{% block head %}
<title>Inventario</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}

{% block sidebarlinks %}
<!-- Sidebar links -->
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-registered"></i><p>REGISTRAR<i class="fas fa-angle-left right"></i></p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/marca" class="nav-link">
                    <i class="fas fa-copyright nav-icon ml-4"></i>
                    <p>Marcas</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/proveedor" class="nav-link">
                    <i class="fas fa-truck-moving nav-icon ml-4"></i>
                    <p>Proveedores</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-boxes"></i><p>ALMACENES<i class="fas fa-angle-left right"></i></p>
        </a>
    
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-boxes"></i><p>ALMACEN - 1<i class="fas fa-angle-left right"></i></p>
                </a>
    
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/almacen_1/productos/accesorios/" class="nav-link">
                            <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                            <p>Accesorios</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/almacen_1/productos/calzado/" class="nav-link">
                            <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                            <p>Calzado</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/almacen_1/productos/ropa" class="nav-link">
                            <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                            <p>Ropa</p>
                        </a>
                    </li>                    
                </ul>
            </li>
    
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-boxes"></i><p>ALMACEN - 2<i class="fas fa-angle-left right"></i></p>
                </a>
                
                <ul class="nav nav-treeview" style="display: none;">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                            <p>Accesorios</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                            <p>Calzado</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                            <p>Ropa</p>
                        </a>
                    </li>                   
                </ul>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-boxes"></i><p>ALMACEN - 3<i class="fas fa-angle-left right"></i></p>
                </a>
                
                <ul class="nav nav-treeview" style="display: none;">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                            <p>Accesorios</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                            <p>Calzado</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                            <p>Ropa</p>
                        </a>
                    </li>                   
                </ul>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="{% url 'barcode_calzado' %}" target="_blank" class="nav-link">
            <i class="nav-icon fas fa-barcode"></i><p>BARCODES</p>
        </a>
    </li>
</ul>
<!-- ./sidebar links -->
{% endblock sidebarlinks %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <h2 class="text-center display-5 mt-3">INVENTARIO</h2>

        <div class="row justify-content-center mt-3">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        ALMACEN 1
                    </div>
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 text-center" style="font-size: 45px;">
                                <i class="fab fa-accusoft mt-4"></i>
                                <i class="fab fa-accusoft" style="margin-top: 80px;"></i>
                                <i class="fab fa-accusoft" style="margin-top: 80px;"></i>
                            </div>
                            <div class="col-9">
                                <label>Accesorios por terminarse</label> - {{ accesorios_por_terminarse }}
                                <p style="font-size: small; color: #666; margin-top: -10px;">Menos de 10 existencias</p>

                                <label>Más vendidos</label> - {{ accesorios_mas_vendidos }}
                                <p style="font-size: small; color: #666; margin-top: -10px;">Más del promedio ( {{ accesorios_promedio }} ventas)</p>

                                <hr style="float: left; width: 80%; border: 1px solid #bbb; margin-top: -5px;">

                                <label>Calzado por terminarse</label> - {{ calzado_por_terminarse }}
                                <p style="font-size: small; color: #666; margin-top: -10px;">Menos de 10 existencias</p>

                                <label>Más vendido</label> - {{ calzado_mas_vendido }}
                                <p style="font-size: small; color: #666; margin-top: -10px;">Más del promedio ( {{ calzado_promedio }} ventas)</p>

                                <hr style="float: left; width: 80%; border: 1px solid #bbb; margin-top: -5px;">

                                <label>Ropa por terminarse</label> - {{ ropa_por_terminarse }}
                                <p style="font-size: small; color: #666; margin-top: -10px;">Menos de 10 existencias</p>

                                <label>Más vendida</label> - {{ ropa_mas_vendida }}
                                <p style="font-size: small; color: #666; margin-top: -10px;">Más del promedio ( {{ ropa_promedio }} ventas)</p>

                                <hr style="float: left; width: 80%; border: 1px solid #bbb; margin-top: -5px;">

                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-left: 64px;">
                <div class="card">
                    <div class="card-header">
                        ALMACEN 2
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 text-center" style="font-size: 45px;">
                                <i class="fab fa-accusoft mt-4"></i>
                            </div>
                            <div class="col-9">
                                <label>Calzado por terminarse</label> - 0
                                <p style="font-size: small; color: #666; margin-top: -10px;">Menos de 10 existencias</p>

                                <label>Más vendido</label> - 0
                                <p style="font-size: small; color: #666; margin-top: -10px;">Más del promedio ( 0 ventas)</p>

                                <hr style="float: left; width: 80%; border: 1px solid #bbb; margin-top: -5px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-left: 64px;">
                <div class="card">
                    <div class="card-header">
                        ALMACEN 3
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3 text-center" style="font-size: 45px;">
                                <i class="fab fa-accusoft mt-4"></i>
                            </div>
                            <div class="col-9">
                                <label>Calzado por terminarse</label> - 0
                                <p style="font-size: small; color: #666; margin-top: -10px;">Menos de 10 existencias</p>

                                <label>Más vendido</label> - 0
                                <p style="font-size: small; color: #666; margin-top: -10px;">Más del promedio ( 0 ventas)</p>

                                <hr style="float: left; width: 80%; border: 1px solid #bbb; margin-top: -5px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-10 offset-1">
                <div class="card collapsed-card">
                    <span class="card-header" data-card-widget="collapse">
                        ALMACEN 1 - ACCESORIOS
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" style="margin-top: 1px;" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <!--<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>-->
                        </div>
                    </span>
                    <div class="card-body">
                        <h5 style="margin-left: 10px; font-weight: bold;">MÁS VENDIDOS</h5><hr style="max-width: 78%; border: 2px solid #000; margin-top: -20px; margin-left: 215px;">
                        {% if tabla_accesorios_mas_vendidos %}
                        <!-- Tabla más vendido -->
                        <div class="table-responsive p-0" style="height: 272px;">
                            <table class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 163px;">CÓDIGO DE BARRAS</th>
                                        <th>NOMBRE</th>
                                        <th class="text-center" style="width: 170px;">PROVEEDOR</th>
                                        <th class="text-center" style="width: 117px;">EXISTENCIAS</th>
                                        <th class="text-center" style="width: 150px;">PRECIO DE VENTA</th>
                                        <th class="text-center" style="width: 160px;">PRECIO DE COMPRA</th>
                                        <th class="text-center red" style="width: 117px;">NO. VENTAS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in tabla_accesorios_mas_vendidos %}
                                    <tr>
                                        <td class="text-center">{{ p.barcode }}</td>
                                        <td>{{ p.nombre }}</td>
                                        <td class="text-center">{{ p.proveedor.nombre }}</td>
                                        <td class="text-center">{{ p.stock }}</td>
                                        <td class="text-center">{{ p.precio_venta }}</td>
                                        <td class="text-center">{{ p.precio_compra }}</td>
                                        <td class="text-center red">{{ p.num_venta }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- ./tabla más vendido -->
                        {% else %}
                        <div class="text-center">
                            Sin resultados
                        </div>
                        {% endif %}
                            
                        
                        <h5 class="mt-5" style="margin-left: 10px; font-weight: bold;">POR TERMINARSE</h5><hr style="max-width: 78%; border: 2px solid #000; margin-top: -20px; margin-left: 215px;">
                        {% if tabla_accesorios_por_terminarse %}
                        <!-- Tabla por terminarse -->
                        <div class="table-responsive p-0" style="height: 272px;">
                            <table class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 163px;">CÓDIGO DE BARRAS</th>
                                        <th>NOMBRE</th>
                                        <th class="text-center" style="width: 170px;">PROVEEDOR</th>
                                        <th class="text-center red" style="width: 117px;">EXISTENCIAS</th>
                                        <th class="text-center" style="width: 150px;">PRECIO DE VENTA</th>
                                        <th class="text-center" style="width: 160px;">PRECIO DE COMPRA</th>
                                        <th class="text-center" style="width: 117px;">NO. VENTAS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in tabla_accesorios_por_terminarse %}
                                    <tr>
                                        <td class="text-center">{{ p.barcode }}</td>
                                        <td>{{ p.nombre }}</td>
                                        <td class="text-center">{{ p.proveedor.nombre }}</td>
                                        <td class="text-center red">{{ p.stock }}</td>
                                        <td class="text-center">{{ p.precio_venta }}</td>
                                        <td class="text-center">{{ p.precio_compra }}</td>
                                        <td class="text-center">{{ p.num_venta }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- ./tabla por terminarse -->
                        {% else %}
                        <div class="text-center">
                            Sin resultados
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card collapsed-card">
                    <span class="card-header" data-card-widget="collapse">
                        ALMACEN 1 - CALZADO
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" style="margin-top: 1px;" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <!--<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>-->
                        </div>
                    </span>
                    <div class="card-body">
                        <h5 style="margin-left: 10px; font-weight: bold;">MÁS VENDIDO</h5><hr style="max-width: 78%; border: 2px solid #000; margin-top: -20px; margin-left: 215px;">
                        {% if tabla_calzado_mas_vendido %}
                        <!-- Tabla más vendido -->
                        <div class="table-responsive p-0" style="height: 272px;">
                            <table class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 163px;">CÓDIGO DE BARRAS</th>
                                        <th>NOMBRE</th>
                                        <th class="text-center" style="width: 170px;">PROVEEDOR</th>
                                        <th class="text-center" style="width: 117px;">EXISTENCIAS</th>
                                        <th class="text-center" style="width: 150px;">PRECIO DE VENTA</th>
                                        <th class="text-center" style="width: 160px;">PRECIO DE COMPRA</th>
                                        <th class="text-center red" style="width: 117px;">NO. VENTAS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in tabla_calzado_mas_vendido %}
                                    <tr>
                                        <td class="text-center">{{ p.barcode }}</td>
                                        <td>{{ p.nombre }}</td>
                                        <td class="text-center">{{ p.proveedor.nombre }}</td>
                                        <td class="text-center">{{ p.stock }}</td>
                                        <td class="text-center">{{ p.precio_venta }}</td>
                                        <td class="text-center">{{ p.precio_compra }}</td>
                                        <td class="text-center red">{{ p.num_venta }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- ./tabla más vendido -->
                        {% else %}
                        <div class="text-center">
                            Sin resultados
                        </div>
                        {% endif %}
                        

                        <h5 class="mt-5" style="margin-left: 10px; font-weight: bold;">POR TERMINARSE</h5><hr style="max-width: 78%; border: 2px solid #000; margin-top: -20px; margin-left: 215px;">
                        {% if tabla_calzado_por_terminarse %}
                        <!-- Tabla por terminarse -->
                        <div class="table-responsive p-0" style="height: 272px;">
                            <table class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 163px;">CÓDIGO DE BARRAS</th>
                                        <th>NOMBRE</th>
                                        <th class="text-center" style="width: 170px;">PROVEEDOR</th>
                                        <th class="text-center red" style="width: 117px;">EXISTENCIAS</th>
                                        <th class="text-center" style="width: 150px;">PRECIO DE VENTA</th>
                                        <th class="text-center" style="width: 160px;">PRECIO DE COMPRA</th>
                                        <th class="text-center" style="width: 117px;">NO. VENTAS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in tabla_calzado_por_terminarse %}
                                    <tr>
                                        <td class="text-center">{{ p.barcode }}</td>
                                        <td>{{ p.nombre }}</td>
                                        <td class="text-center">{{ p.proveedor.nombre }}</td>
                                        <td class="text-center red">{{ p.stock }}</td>
                                        <td class="text-center">{{ p.precio_venta }}</td>
                                        <td class="text-center">{{ p.precio_compra }}</td>
                                        <td class="text-center">{{ p.num_venta }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- ./tabla por terminarse -->
                        {% else %}
                        <div class="text-center">
                            Sin resultados
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card collapsed-card">
                    <span class="card-header" data-card-widget="collapse">
                        ALMACEN 1 - ROPA
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" style="margin-top: 1px;" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <!--<button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>-->
                        </div>
                    </span>
                    <div class="card-body">
                        <h5 style="margin-left: 10px; font-weight: bold;">MÁS VENDIDA</h5><hr style="max-width: 78%; border: 2px solid #000; margin-top: -20px; margin-left: 215px;">
                        {% if tabla_ropa_mas_vendida %}
                        <!-- Tabla más vendido -->
                        <div class="table-responsive p-0" style="height: 272px;">
                            <table class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 163px;">CÓDIGO DE BARRAS</th>
                                        <th>NOMBRE</th>
                                        <th class="text-center" style="width: 170px;">PROVEEDOR</th>
                                        <th class="text-center" style="width: 117px;">EXISTENCIAS</th>
                                        <th class="text-center" style="width: 150px;">PRECIO DE VENTA</th>
                                        <th class="text-center" style="width: 160px;">PRECIO DE COMPRA</th>
                                        <th class="text-center red" style="width: 117px;">NO. VENTAS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in tabla_ropa_mas_vendida %}
                                    <tr>
                                        <td class="text-center">{{ p.barcode }}</td>
                                        <td>{{ p.nombre }}</td>
                                        <td class="text-center">{{ p.proveedor.nombre }}</td>
                                        <td class="text-center">{{ p.stock }}</td>
                                        <td class="text-center">{{ p.precio_venta }}</td>
                                        <td class="text-center">{{ p.precio_compra }}</td>
                                        <td class="text-center red">{{ p.num_venta }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- ./tabla más vendido -->
                        {% else %}
                        <div class="text-center">
                            Sin resultados
                        </div>
                        {% endif %}
                            
                        
                        <h5 class="mt-5" style="margin-left: 10px; font-weight: bold;">POR TERMINARSE</h5><hr style="max-width: 78%; border: 2px solid #000; margin-top: -20px; margin-left: 215px;">
                        {% if tabla_ropa_por_terminarse %}
                        <!-- Tabla por terminarse -->
                        <div class="table-responsive p-0" style="height: 272px;">
                            <table class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 163px;">CÓDIGO DE BARRAS</th>
                                        <th>NOMBRE</th>
                                        <th class="text-center" style="width: 170px;">PROVEEDOR</th>
                                        <th class="text-center red" style="width: 117px;">EXISTENCIAS</th>
                                        <th class="text-center" style="width: 150px;">PRECIO DE VENTA</th>
                                        <th class="text-center" style="width: 160px;">PRECIO DE COMPRA</th>
                                        <th class="text-center" style="width: 117px;">NO. VENTAS</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in tabla_ropa_por_terminarse %}
                                    <tr>
                                        <td class="text-center">{{ p.barcode }}</td>
                                        <td>{{ p.nombre }}</td>
                                        <td class="text-center">{{ p.proveedor.nombre }}</td>
                                        <td class="text-center red">{{ p.stock }}</td>
                                        <td class="text-center">{{ p.precio_venta }}</td>
                                        <td class="text-center">{{ p.precio_compra }}</td>
                                        <td class="text-center">{{ p.num_venta }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- ./tabla por terminarse -->
                        {% else %}
                        <div class="text-center">
                            Sin resultados
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.main content -->
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/select2.min.js' %}"></script>
{% endblock scripts %}