<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Código de barras</title>
    <style>
        @media print {
            @page {
                size: 61mm 32mm;
                top: 1pt;
                left: 1pt;
                right: 1pt;
                bottom: 1pt;
                width: 170pt;
                height: 88pt; 
                /* -pdf-frame-border: 1; */
            }
        }
    </style>
</head>
<body>
    <table width="170">
        <tbody>
            {% for p in productos %}
            <tr>
                <td style="margin: 0px;padding-left: 2px;padding-top: 3px;">
                    <div>
                        <div style="font-size: 7px;"> 
                            Sucursal: 1
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {% now "SHORT_DATE_FORMAT" %}
                        </div>
                        <div style="font-size: 7px;">
                            {% if p.linea_a %}
                                {{p.nombre}}-{{p.modelo}}-{{p.get_genero_display}}-{{p.get_linea_a_display}}
                            {% endif %}
                            {% if p.linea_c %}
                                {{p.nombre}}-{{p.modelo}}-{{p.get_genero_display}}-{{p.get_linea_c_display}}
                            {% endif %}
                            {% if p.linea_r %}
                                {{p.nombre}}-{{p.modelo}}-{{p.get_genero_display}}-{{p.get_linea_r_display}}
                            {% endif %}
                        </div>
                            <span style="font-size: 7px;">
                                {% if p.medida %}
                                    Talla de calzado: {{ p.get_medida_display }}
                                {% endif %}
                                {% if p.talla %}
                                    Talla de ropa: {{ p.get_talla_display }}
                                {% endif %}
                            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="font-weight: bolder;">
                                {{p.get_color_display}}
                            </span>
                    </div>
                    <div style="text-align: center;margin-top: -10px;">
                        <pdf:barcode value="{{ p.barcode }}" type="code128" barwidth="1" humanreadable="1"  />
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>