{% load static %}


        <!-- Sidebar links -->
        
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-registered"></i><p>REGISTRAR<i class="fas fa-angle-left right"></i></p>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="/marca" class="nav-link">
                                <i class="fas fa-copyright nav-icon ml-4"></i>
                                <p>Marcas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/proveedor" class="nav-link">
                                <i class="fas fa-truck-moving nav-icon ml-4"></i>
                                <p>Proveedores</p>
                            </a>
                        </li>                   
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-warehouse"></i><p>ALMACENES<i class="fas fa-angle-left right"></i></p>
                    </a>

                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-warehouse"></i><p>ALMACEN - 1<i class="fas fa-angle-left right"></i></p>
                            </a>

                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a href="/almacen_1/productos/calzado/" class="nav-link">
                                        <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                                        <p>Calzado</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/almacen_1/productos/ropa" class="nav-link">
                                        <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                                        <p>Ropa</p>
                                    </a>
                                </li>                   
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-warehouse"></i><p>ALMACEN - 2<i class="fas fa-angle-left right"></i></p>
                            </a>
                            
                            <ul class="nav nav-treeview" style="display: none;">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                                        <p>Calzado</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-dolly-flatbed nav-icon ml-4"></i>
                                        <p>Ropa</p>
                                    </a>
                                </li>                   
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link"><i class="far fas fa-indent nav-icon"></i>Reportes</a>
                </li>
            </ul>
        
        <!-- ./sidebar links -->
    