{% load static %}
{% load widget_tweaks %}

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="modal-header" style="background: #1D2535; color: #fff;">
        <h5 class="modal-title">REGISTRAR CALZADO</h5>
        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times" style="color: white;"></i></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-3 mb-1">
                <h5><b>INFORMACIÓN</b></h5>
            </div>
        </div>
        
        <div class="row">
            <div class="col-3 ml-5">
                <label><span style="color: red; font-size: small; ">* </span>Proveedor:</label>{{ form.proveedor }}
                <label><span style="color: red; font-size: small; ">* </span>Marca:</label>{{ form.marca }}
                <label>Modelo:</label>{{ form.modelo }}
                <label>Código de barras exterior:</label>{{ form.barcode_exterior }}
                
            </div>

            <div class="col-3 offset-1">
                <label><span style="color: red; font-size: small; ">* </span>Línea:</label>
                <select id="id_genero" name="genero" class="form-control mb-3">
                    <option value="" selected="">---------</option>
                    <option value="1">CABALLERO</option>
                    <option value="2">DAMA</option>
                    <option value="3">JOVEN</option>
                    <option value="4">NIÑA</option>
                    <option value="5">NIÑO</option>
                    <option value="6">UNISEX</option>
                    <option value="7">VARIOS</option>
                </select>
                <label><span style="color: red; font-size: small; ">* </span>Sublínea:</label>{{ form.linea_c }}
                <label><span style="color: red; font-size: small; ">* </span>Talla:</label>
                <select id="id_medida" name="medida" class="form-control mb-3">
                    <option value="" selected="">---------</option>
                    <option value="1" data-chained="1">18</option>
                    <option value="2" data-chained="1">18.5</option>
                    <option value="3" data-chained="1">19</option>
                    <option value="4" data-chained="1">19.5</option>
                    <option value="5" data-chained="1">20</option>
                    <option value="6" data-chained="1">20.5</option>
                    <option value="7" data-chained="1">21</option>
                    <option value="8" data-chained="1">21.5</option>
                    <option value="9" data-chained="1">22</option>
                    <option value="10" data-chained="1">22.5</option>
                    <option value="11" data-chained="1">23</option>
                    <option value="12" data-chained="1">23.5</option>
                    <option value="13" data-chained="1">24</option>
                    <option value="14" data-chained="1">24.5</option>
                    <option value="15" data-chained="1">25</option>
                    <option value="16" data-chained="1">25.5</option>
                    <option value="17" data-chained="1">26</option>
                    <option value="18" data-chained="1">26.5</option>
                    <option value="19" data-chained="1">27</option>
                    <option value="20" data-chained="1">27.5</option>
                    <option value="21" data-chained="1">28</option>
                    <option value="22" data-chained="1">28.5</option>
                    <option value="23" data-chained="1">29</option>
                    <option value="24" data-chained="1">29.5</option>
                    <option value="25" data-chained="1">30</option>
                    <option value="26" data-chained="1">30.5</option>
                    <option value="27" data-chained="1">31</option>
                    <option value="28" data-chained="1">31.5</option>
                    <option value="29" data-chained="1">32</option>
                    <option value="30" data-chained="1">XCH</option>
                    <option value="31" data-chained="1">CH</option>
                    <option value="32" data-chained="1">M</option>
                    <option value="33" data-chained="1">G</option>
                    <option value="34" data-chained="1">XG</option>
                    <option value="35" data-chained="2">21.5</option>
                    <option value="36" data-chained="2">22</option>
                    <option value="37" data-chained="2">22.5</option>
                    <option value="38" data-chained="2">23</option>
                    <option value="39" data-chained="2">23.5</option>
                    <option value="40" data-chained="2">24</option>
                    <option value="41" data-chained="2">24.5</option>
                    <option value="42" data-chained="2">25</option>
                    <option value="43" data-chained="2">25.5</option>
                    <option value="44" data-chained="2">26</option>
                    <option value="45" data-chained="2">26.5</option>
                    <option value="46" data-chained="2">27</option>
                    <option value="47" data-chained="2">27.5</option>
                    <option value="48" data-chained="2">XCH</option>
                    <option value="49" data-chained="2">CH</option>
                    <option value="50" data-chained="2">M</option>
                    <option value="51" data-chained="2">G</option>
                    <option value="52" data-chained="2">XG</option>
                    <option value="53" data-chained="3">21.5</option>
                    <option value="54" data-chained="3">22</option>
                    <option value="55" data-chained="3">22.5</option>
                    <option value="56" data-chained="3">23</option>
                    <option value="57" data-chained="3">23.5</option>
                    <option value="58" data-chained="3">24</option>
                    <option value="59" data-chained="3">24.5</option>
                    <option value="60" data-chained="3">25</option>
                    <option value="61" data-chained="3">25.5</option>
                    <option value="62" data-chained="3">26</option>
                    <option value="63" data-chained="3">26.5</option>
                    <option value="64" data-chained="3">27</option>
                    <option value="65" data-chained="4">10</option>
                    <option value="66" data-chained="4">10.5</option>
                    <option value="67" data-chained="4">11</option>
                    <option value="68" data-chained="4">11.5</option>
                    <option value="69" data-chained="4">12</option>
                    <option value="70" data-chained="4">12.5</option>
                    <option value="71" data-chained="4">13</option>
                    <option value="72" data-chained="4">13.5</option>
                    <option value="73" data-chained="4">14</option>
                    <option value="74" data-chained="4">14.5</option>
                    <option value="75" data-chained="4">15</option>
                    <option value="76" data-chained="4">15.5</option>
                    <option value="77" data-chained="4">16</option>
                    <option value="78" data-chained="4">16.5</option>
                    <option value="79" data-chained="4">17</option>
                    <option value="80" data-chained="4">17.5</option>
                    <option value="81" data-chained="4">18</option>
                    <option value="82" data-chained="4">18.5</option>
                    <option value="83" data-chained="4">19</option>
                    <option value="84" data-chained="4">19.5</option>
                    <option value="85" data-chained="4">20</option>
                    <option value="86" data-chained="4">20.5</option>
                    <option value="87" data-chained="4">21</option>
                    <option value="88" data-chained="4">21.5</option>
                    <option value="89" data-chained="4">22</option>
                    <option value="90" data-chained="5">9</option>
                    <option value="91" data-chained="5">9.5</option>
                    <option value="92" data-chained="5">10</option>
                    <option value="93" data-chained="5">10.5</option>
                    <option value="94" data-chained="5">11</option>
                    <option value="95" data-chained="5">11.5</option>
                    <option value="96" data-chained="5">12</option>
                    <option value="97" data-chained="5">12.5</option>
                    <option value="98" data-chained="5">13</option>
                    <option value="99" data-chained="5">13.5</option>
                    <option value="100" data-chained="5">14</option>
                    <option value="101" data-chained="5">14.5</option>
                    <option value="102" data-chained="5">15</option>
                    <option value="103" data-chained="5">15.5</option>
                    <option value="104" data-chained="5">16</option>
                    <option value="105" data-chained="5">16.5</option>
                    <option value="106" data-chained="5">17</option>
                    <option value="107" data-chained="5">17.5</option>
                    <option value="108" data-chained="5">18</option>
                    <option value="109" data-chained="5">18.5</option>
                    <option value="110" data-chained="5">19</option>
                    <option value="111" data-chained="5">19.5</option>
                    <option value="112" data-chained="5">20</option>
                    <option value="113" data-chained="5">20.5</option>
                    <option value="114" data-chained="5">21</option>
                    <option value="115" data-chained="5">21.5</option>
                    <option value="116" data-chained="5">22</option>
                    <option value="117" data-chained="5">22.5</option>
                    <option value="118" data-chained="5">23</option>
                    <option value="119" data-chained="5">23.5</option>
                    <option value="120" data-chained="5">24</option>
                    <option value="121" data-chained="5">24.5</option>
                    <option value="122" data-chained="5">25</option>
                    <option value="123" data-chained="5">25.5</option>
                    <option value="124" data-chained="5">26</option>
                    <option value="125" data-chained="5">26.5</option>
                    <option value="126" data-chained="5">27</option>
                    <option value="127" data-chained="5">27.5</option>
                    <option value="128" data-chained="5">28</option>
                    <option value="129" data-chained="5">28.5</option>
                    <option value="130" data-chained="5">29</option>
                    <option value="131" data-chained="5">29.5</option>
                    <option value="132" data-chained="5">30</option>
                    <option value="133" data-chained="5">30.5</option>
                    <option value="134" data-chained="5">31</option>
                    <option value="135" data-chained="5">31.5</option>
                    <option value="136" data-chained="5">32</option>
                    <option value="137" data-chained="5">XCH</option>
                    <option value="138" data-chained="5">CH</option>
                    <option value="139" data-chained="5">M</option>
                    <option value="140" data-chained="5">G</option>
                    <option value="141" data-chained="5">XG</option>
                    <option value="142" data-chained="6">PZA</option>
                    <option value="143" data-chained="6">17</option>
                    <option value="144" data-chained="6">17.5</option>
                    <option value="145" data-chained="6">18</option>
                    <option value="146" data-chained="6">18.5</option>
                    <option value="147" data-chained="6">19</option>
                    <option value="148" data-chained="6">19.5</option>
                    <option value="149" data-chained="6">20</option>
                    <option value="150" data-chained="6">20.5</option>
                    <option value="151" data-chained="6">21</option>
                    <option value="152" data-chained="6">21.5</option>
                    <option value="153" data-chained="6">22</option>
                    <option value="154" data-chained="6">22.5</option>
                    <option value="155" data-chained="6">23</option>
                    <option value="156" data-chained="6">23.5</option>
                    <option value="157" data-chained="6">24</option>
                    <option value="158" data-chained="6">24.5</option>
                    <option value="159" data-chained="6">25</option>
                    <option value="160" data-chained="6">25.5</option>
                    <option value="161" data-chained="6">26</option>
                    <option value="162" data-chained="6">26.5</option>
                    <option value="163" data-chained="6">27</option>
                    <option value="164" data-chained="6">27.5</option>
                    <option value="165" data-chained="6">28</option>
                    <option value="166" data-chained="6">28.5</option>
                    <option value="167" data-chained="6">29</option>
                    <option value="168" data-chained="6">29.5</option>
                    <option value="169" data-chained="6">30</option>
                    <option value="170" data-chained="7">18</option>
                    <option value="171" data-chained="7">18.5</option>
                    <option value="172" data-chained="7">19</option>
                    <option value="173" data-chained="7">19.5</option>
                    <option value="174" data-chained="7">20</option>
                    <option value="175" data-chained="7">20.5</option>
                    <option value="176" data-chained="7">21</option>
                    <option value="177" data-chained="7">21.5</option>
                    <option value="178" data-chained="7">22</option>
                    <option value="179" data-chained="7">22.5</option>
                    <option value="180" data-chained="7">23</option>
                    <option value="181" data-chained="7">23.5</option>
                    <option value="182" data-chained="7">24</option>
                    <option value="183" data-chained="7">24.5</option>
                    <option value="184" data-chained="7">26</option>
                    <option value="185" data-chained="7">26.5</option>
                    <option value="186" data-chained="7">27</option>
                    <option value="187" data-chained="7">27.5</option>
                    <option value="188" data-chained="7">28</option>
                    <option value="189" data-chained="7">28.5</option>
                    <option value="190" data-chained="7">29</option>
                    <option value="191" data-chained="7">29.5</option>
                    <option value="192" data-chained="7">30</option>
                </select>
                <label><span style="color: red; font-size: small; ">* </span>Color:</label>{{ form.color }}
                <label><span style="color: red; font-size: small; ">* </span>Promoción:</label>{{ form.promocion }}
            </div>

            <div class="col-3 offset-1">
                <label>Existencias:</label>{{ form.stock }}
                <label>Precio de costo:</label>{{ form.precio_compra }}
                <label>Precio de venta:</label>{{ form.precio_venta }}
                <label class="col-12" style="margin-left: -7px;">Imagen:</label>{{ form.img }}
            </div>
        </div>
        
        <span style="display: none;">
            <input type="text" name="nombre" maxlength="40" required="" id="id_nombre" value="CALZADO">
        </span>
        <span style="display: none;">{{ form.fecha_final_promocion }}</span>
        <span style="display: none;">{{ form.tipo }}</span>
        <span style="display: none;">{{ form.almacen }}</span>
    </div>
    
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Registrar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
</form>

<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/chained-selects.js' %}"></script>
<script src="{% static 'js/zepto-selector.js' %}"></script>
<script>
$(function(){
    $("#id_medida").chained("#id_genero");
});
</script>