{% extends 'ventas/base_ventas.html' %}
{% load static %}

{% block head %}
<title>Ventas del día</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}

{% block enlace_punto_de_venta %}
<a href="/punto_de_venta/caja/2" class="nav-link">
    <i class="fas fa-shopping-cart nav-icon"></i>
    <p>Punto de Venta - Caja 2</p>
</a>
{% endblock enlace_punto_de_venta %}
{% block enlace_ultimas_ventas %}
<a href="/punto_de_venta/caja/2/ventas_del_dia" class="nav-link active" style="color: azure; background: tomato;">
    <i class="fas fa-chart-line nav-icon"></i>
    <p>Ventas del dia</p>
</a>
{% endblock enlace_ultimas_ventas %}
{% block enlace_cierre_caja %}
<a href="/punto_de_venta/caja/2/cierre_de_caja" class="nav-link">
    <i class="fas fa-cash-register nav-icon"></i>
    <p>Cierre de caja</p>
</a>
{% endblock enlace_cierre_caja %}
{% block enlace_apartados %}
<a href="/apartados/lista/" class="nav-link">
    <i class="fas fa-truck-loading nav-icon"></i>
    <p>Lista apartados</p>
</a>
{% endblock enlace_apartados %} 

{% block content %}
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <!--Row content -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- Card content -->
                    <div class="card mt-3" >
                        <div class="card-header"><h1 class="card-title mt-3 mb-3 ml-3">VENTAS DEL DÍA</h1></div>

                        <!-- Card body -->
                        <div class="card-body mb-3">
                            <table class="table table-bordered table-striped">
                                <thead class="text-center bg-navyr white">
                                    <tr>
                                        <th width="12%">Numero de venta</th>
                                        <th width="30%">Fecha</th>
                                        <th width="10%">Caja</th>
                                        <th width="16%">Cantidad productos</th>
                                        <th width="16%">Monto total</th>
                                        <th width="18%">Cancelar venta</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    {% for venta in ventas %}
                                    <tr>
                                        <td width="12%">{{venta.id}}</td>
                                        <td width="30%">{{venta.date_sale}}</td>
                                        <td width="10%">{{venta.caja}} </td>
                                        <td width="16%">{{venta.count}}</td>
                                        <td width="16%">{{venta.amount}}</td>
                                        <td width="18%">
                                            <a href="{% url 'tezoncocaja2_app:ventas_eliminar' venta.id %}" class="red"><span>
                                                <i class="fas fa-window-close mr-1"></i>
                                                </i>Cancelar venta</span>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <!-- Card footer -->
                        <div class="card-footer pt-3">
                            {% if request.path == request.get_full_path %}
                                {% if is_paginated %}
                                <nav class="float-right">
                                    <ul class="pagination">
                                        <li class="mr-3 p-2">
                                            <span class="">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                                        </li>
                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{request.get_full_path}}?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Anterior</a>
                                        </li>
                                        {% endif %}
                                        {% for num in paginator.page_range %}
                                            {% if page_obj.number == num %}
                                            <li class="page-item active"><a class="page-link" href="{{request.get_full_path}}?page={{ num }}">{{ num }}</a></li>
                                            {% elif num > page_obj.number|add:'0' and num < page_obj.number|add:'13' %}
                                            <li class="page-item"><a class="page-link" href="{{request.get_full_path}}?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link" href="{{request.get_full_path}}?page={{page_obj.next_page_number}}">Siguiente</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% endif %}
                            {% else %}
                                {% if is_paginated %}
                                <nav class="float-right">
                                    <ul class="pagination">
                                        <li class="mr-3 p-2">
                                            <span class="">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
                                        </li>
                                        {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{request.get_full_path}}&page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">Anterior</a>
                                        </li>
                                        {% endif %}
                                        {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                            <li class="page-item active"><a class="page-link" href="{{request.get_full_path}}&page={{ num }}">{{ num }}</a></li>
                                            {% elif num > page_obj.number|add:'0' and num < page_obj.number|add:'13' %}
                                            <li class="page-item"><a class="page-link" href="{{request.get_full_path}}&page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                        <li class="page-item"><a class="page-link" href="{{request.get_full_path}}&page={{page_obj.next_page_number}}">Siguiente</a></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}