<script>
    // Create Django Ajax Call
    $("form#addProveedor").submit(function() {
        var nombreInput = $('input[name="nombre"]').val().trim();
        var correoInput = $('input[name="correo"]').val().trim();
        var telefonoInput = $('input[name="telefono"]').val().trim();
        var direccionInput = $('input[name="direccion"]').val().trim();
        var nombre_benefactorInput = $('input[name="nombre_benefactor"]').val().trim();
        var nombre_bancoInput = $('input[name="nombre_banco"]').val().trim();
        var clabeInput = $('input[name="clabe"]').val().trim();
        
        if (nombreInput || correoInput || telefonoInput || direccionInput || nombre_benefactorInput || nombre_bancoInput || clabeInput) {
            // Create Ajax Call
            $.ajax({
                url: '{% url "crear_proveedor" %}',
                data: {
                    'nombre': nombreInput,
                    'correo': correoInput,
                    'telefono': telefonoInput,
                    'direccion': direccionInput,
                    'nombre_benefactor': nombre_benefactorInput,
                    'nombre_banco': nombre_bancoInput,
                    'clabe': clabeInput
                },
                dataType: 'json',
                success: function (data) {
                    if (data.proveedor) {
                      appendToUsrTable(data.proveedor);
                    }
                }
            });
        } else {
            alert("Se necesita al menos un nombre de proveedor.");
        }
        $('form#addProveedor').trigger("reset");
        return false;
    });

    function appendToUsrTable(proveedor) {
      $("#proveedorTable > tbody:last-child").append(`
            <tr id="proveedor-${proveedor.id}">
                <td class="proveedorNombre" name="nombre">${proveedor.nombre}</td>
                '<td class="proveedorDireccion" name="direccion">${proveedor.direccion}</td>
                '<td class="proveedorTelefono" name="telefono">${proveedor.telefono}</td>
                '<td class="proveedorCorreo" name="correo">${proveedor.correo}</td>
                '<td class="proveedorNombre_benefactor" name="nombre_benefactor">${proveedor.nombre_benefactor}</td>
                '<td class="proveedorNombre_banco" name="nombre_banco">${proveedor.nombre_banco}</td>
                '<td class="proveedorClabe" name="clabe">${proveedor.clabe}</td>
                '<td><button class="btn btn-sm btn-info mr-1" onClick="editProveedor(${proveedor.id})" data-toggle="modal" data-target="#myModalProveedor"><I class="fas fa-pencil-alt"></I></button>
                '<button class="btn btn-sm btn-danger" onClick="deleteProveedor(${proveedor.id})"><I class="fas fa-trash-alt"></I></button></td>
            </tr>
        `);
    }

    // Update Django Ajax Call
    $("form#updateProveedor").submit(function() {
        var idInput = $('input[name="formId"]').val().trim();
        var nombreInput = $('input[name="formNombre"]').val().trim();
        var correoInput = $('input[name="formCorreo"]').val().trim();
        var telefonoInput = $('input[name="formTelefono"]').val().trim();
        var direccionInput = $('input[name="formDireccion"]').val().trim();
        var nombre_benefactorInput = $('input[name="formNombre_benefactor"]').val().trim();
        var nombre_bancoInput = $('input[name="formNombre_banco"]').val().trim();
        var clabeInput = $('input[name="formClabe"]').val().trim();

        if (nombreInput || correoInput || telefonoInput || direccionInput || nombre_benefactorInput || nombre_bancoInput || clabeInput) {
            // Update Ajax Call
            $.ajax({
                url: '{% url "actualizar_proveedor" %}',
                data: {
                    'id': idInput,
                    'nombre': nombreInput,
                    'correo': correoInput,
                    'telefono': telefonoInput,
                    'direccion': direccionInput,
                    'nombre_benefactor': nombre_benefactorInput,
                    'nombre_banco': nombre_bancoInput,
                    'clabe': clabeInput
                },
                dataType: 'json',
                success: function (data) {
                    if (data.proveedor) {
                    updateToUserTable(data.proveedor);
                    }
                }
            });
        } else {
            alert("Se necesita al menos un nombre de proveedor.");
        }
        $('form#updateProveedor').trigger("reset");
        $('#myModalProveedor').modal('hide');
        return false;
    });

    // Update Django Ajax Call
    function editProveedor(id) {
        if (id) {
            tr_id = "#proveedor-" + id;
            nombre = $(tr_id).find(".proveedorNombre").text();
            correo = $(tr_id).find(".proveedorCorreo").text();
            telefono = $(tr_id).find(".proveedorTelefono").text();
            direccion = $(tr_id).find(".proveedorDireccion").text();
            nombre_benefactor = $(tr_id).find(".proveedorNombre_benefactor").text();
            nombre_banco = $(tr_id).find(".proveedorNombre_banco").text();
            clabe = $(tr_id).find(".proveedorClabe").text();
            $('#form-id').val(id);
            $('#form-nombre').val(nombre);
            $('#form-correo').val(correo);
            $('#form-telefono').val(telefono);
            $('#form-direccion').val(direccion);
            $('#form-nombre_benefactor').val(nombre_benefactor);
            $('#form-nombre_banco').val(nombre_banco);
            $('#form-clabe').val(clabe);
        }
    }

    function updateToUserTable(proveedor){
        $("#proveedorTable #proveedor-" + proveedor.id).children(".proveedorData").each(function() {
            var attr = $(this).attr("nombre");
            if (attr == "nombre") {
                $(this).text(proveedor.nombre);
            } else if (attr == "correo") {
                $(this).text(proveedor.correo);
            } else if (attr == "telefono") {
                $(this).text(proveedor.telefono);
            } else if (attr == "direccion") {
                $(this).text(proveedor.direccion);
            } else if (attr == "nombre_benefactor") {
                $(this).text(proveedor.nombre_benefactor);
            } else if (attr == "nombre_banco") {
                $(this).text(proveedor.nombre_banco);
            } else {
                $(this).text(proveedor.clabe);
            }
        });
    }

    // Delete Django Ajax Call
    function deleteProveedor(id) {
        var action = confirm("¿Estás seguro que deseas eliminar este proveedor?");
        if (action != false) {
            $.ajax({
                url: '{% url "eliminar_proveedor" %}',
                data: {
                    'id': id,
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                    $("#proveedorTable #proveedor-" + id).remove();
                    }
                }
            });
        }
    }
</script>