{% extends 'inventarios/a_rchivos_base/base_registar.html' %}
{% load static %}

{% block head %}<title>Proveedores - Registro</title>{% endblock head %}

{% block enlace_marcas %}
<a href="/marca" class="nav-link">
    <i class="fas fa-copyright nav-icon ml-4"></i>
    <p>Marcas</p>
</a>
{% endblock enlace_marcas %}
{% block enlace_proveedores %}
<a href="/proveedor" class="nav-link active" style="color: azure; background: tomato;">
    <i class="fas fa-truck-moving nav-icon ml-4"></i>
    <p>Proveedores</p>
</a>
{% endblock enlace_proveedores %}

{% block titulo_pagina %}REGISTRAR PROVEEDORES{% endblock titulo_pagina %}

{% block formulario %}
<form id="addProveedor" action="">
    <div class="row">
        <div class="col-md-10 offset-md-2 mt-3"><h4>Información del proveedor</h4></div>

        <div class="col-md-10 offset-md-2">
            <div class="row mt-1">
                <div class="col-md-3">
                    <div class="form-group">
                        <label><span style="color: red;">*</span> Nombre de proveedor:</label>
                        <input class="form-control" type="text" name="nombre" placeholder="Ingresar nombre del proveedor" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Dirección:</label>
                        <input class="form-control" type="text" name="direccion" placeholder="Dirección">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Teléfono:</label>
                        <input class="form-control" type="text" name="telefono" placeholder="Teléfono">
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group">
                        <label>Correo:</label>
                        <input class="form-control" type="text" name="correo" placeholder="correo@empresa.com">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-2 mt-3"><h4>Información del banco</h4></div>

        <div class="col-md-10 offset-md-2">
            <div class="row mt-1">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nombre de beneficiario:</label>
                        <input class="form-control" type="text" name="nombre_benefactor" placeholder="Ingresar nombre del beneficiario">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Nombre de banco:</label>
                        <input class="form-control" type="text" name="nombre_banco" placeholder="Ingresar nombre del banco">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>Clabe interbancaria:</label>
                        <input class="form-control" type="text" name="clabe" placeholder="Clabe 18 digitos">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3">
        <button class="btn btn-primary" style="margin-left: -12px;" type="submit"><i class="fas fa-upload mr-2"></i>Crear proveedor</button>
    </div>
</form>
{% endblock formulario %}

{% block subtitulo_pagina %}PROVEEDORES REGISTRADOS{% endblock subtitulo_pagina %}

{% block tabla %}
    <div class="row">
        <div class="col-md-11" style="margin: auto;">
            <table id="proveedorTable" class="table table-striped text-center">
                <tr>
                    <th width="240">Nombre de proveedor</th>
                    <th width="230">Dirección</th>
                    <th width="90">Teléfono</th>
                    <th width="200">Email</th>
                    <th width="240">Nombre de beneficiario</th>
                    <th width="110">Banco</th>
                    <th width="150">Clabe</th>
                    <th width="100">Acciones</th>
                </tr>
                {% if proveedores %}
                    {% for proveedor in proveedores %}
                    <tr id="proveedor-{{proveedor.id}}">
                        <td class="proveedorNombre proveedorData" name="nombre">{{proveedor.nombre}}</td>
                        <td class="proveedorDireccion proveedorData" name="direccion">{{proveedor.direccion}}</td>
                        <td class="proveedorTelefono proveedorData" name="telefono">{{proveedor.telefono}}</td>
                        <td class="proveedorCorreo proveedorData" name="correo">{{proveedor.correo}}</td>
                        <td class="proveedorNombre_benefactor proveedorData" name="nombre_benefactor">{{proveedor.nombre_benefactor}}</td>
                        <td class="proveedorNombre_banco proveedorData" name="nombre_banco">{{proveedor.nombre_banco}}</td>
                        <td class="proveedorClabe proveedorData" name="clabe">{{proveedor.clabe}}</td>
                        <td>
                            <button class="btn btn-sm btn-info mr-1" onClick="editProveedor('{{proveedor.id}}')" data-toggle="modal" data-target="#myModalProveedor"><I class="fas fa-pencil-alt"></I></button>
                            <button class="btn btn-sm btn-danger" onClick="deleteProveedor('{{proveedor.id}}')"><I class="fas fa-trash-alt"></I></button>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <div style="text-align: center;">No hay proveedores registrados</div>
                {% endif %}
            </table>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-2 offset-1">
            <a href="/proveedor" class="btn btn-primary mt-2" style="margin-left: 0px;" type="button" name="button"><I class="fa fa-undo-alt mr-2"></I>Actualizar</a>
        </div>
    </div>

{% endblock tabla %}

{% block modal %}
{% include 'inventarios/registros/proveedores/modal_proveedores.html' %}
{% endblock modal %}

{% block extra_scripts %}
{% include 'inventarios/registros/proveedores/funciones_ajax_proveedores.html' %}
{% endblock extra_scripts %}