{% extends 'caja/base_caja.html' %}
{% load static %}

{% block head %}
<title>Cierre de Caja</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}

{% block enlace_punto_de_venta %}
<a href="/venta/index" class="nav-link">
    <i class="fas fa-shopping-cart nav-icon"></i>
    <p>Punto de Venta</p>
</a>
{% endblock enlace_punto_de_venta %}
{% block enlace_ultimas_ventas %}
<a href="/venta/ultimas-ventas" class="nav-link">
    <i class="fas fa-chart-line nav-icon"></i>
    <p>Ventas del día</p>
</a>
{% endblock enlace_ultimas_ventas %}
{% block enlace_cierre_caja %}
<a href="/cierre-caja/index" class="nav-link active" style="color: azure; background: tomato;">
    <i class="fas fa-cash-register nav-icon"></i>
    <p>Cierre de caja</p>
</a>
{% endblock enlace_cierre_caja %}
{% block enlace_apartados %}
<a href="/apartados/lista/" class="nav-link">
    <i class="fas fa-truck-loading nav-icon"></i>
    <p>Lista apartados</p>
</a>
{% endblock enlace_apartados %} 

{% block content %}
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <!--Row content -->
            <div class="row">
                <div class="col-12" >

                    <!-- Card content -->
                    <div class="card mt-3" >
                        <div class="card-header">
                            <h1 class="card-title mt-3 mb-3 ml-3">CIERRE DE CAJA</h1>
                        </div>

                        <!-- Card body -->
                        <div class="container-fluid mt-3 mb-3" >
                            <div class="row">
                                <div class="col" >
                                    <div class="small-box bg-blue">
                                        <div class="inner">
                                            <h3>{{ num_ventas_hoy }}</h3>
                                            <p>Número de ventas antes del cierre de caja</p>
                                        </div>
                                        <div class="icon"><i class="fa fa-shopping-cart"></i></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            {% if total_vendido %}
                                            <h3>$ {{ total_vendido }}</h3>
                                            {% else %}
                                            <h3>$ 0.00</h3>
                                            {% endif %}
                                            <p>Monto total de ventas antes del cierre de caja</p>
                                        </div>
                                        <div class="icon"><i class="fas fa-coins"></i></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="small-box bg-red">
                                        <div class="inner">
                                            {% if total_anulado %}
                                            <h3>$ {{ total_anulado }}</h3>    
                                            {% else %}
                                            <h3>$ 0.00</h3>
                                            {% endif %}
                                            <p>Monto total de ventas anuladas antes del cierre de caja</p>
                                        </div>
                                        <div class="icon"><i class="fas fa-window-close"></i></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 mb-3">
                                    <h3 class="ml-2">Detalle de ventas del día</h3>
                                </div>
                                <!-- Tabla -->
                                <div class="col">
                                    {% for venta in ventas_dia %}
                                    <table class="table table-dark">
                                        <thead>
                                            <tr>
                                                <th style="width: 297px;">N° {{venta.id}}</th>
                                                <th style="width: 361px;">Tipo de pago: {{venta.get_type_payment_display}}</th>
                                                <th style="width: 322px;">Tipo de comprobante: {{ venta.get_type_invoice_display }}</th>
                                                <th style="width: 257px;">Cantidad de productos: {{venta.count}}</th>
                                                <th style="width: 190px; color: lime;">Total: ${{ venta.amount }}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <table class="table table-striped" style="margin-top: -15px; margin-bottom: 50px;">
                                        <thead>
                                            <th style="width: 297px;">Producto</th>
                                            <th style="width: 361px;">Precio Venta</th>
                                            <th style="width: 322px;">Cantidad de cada producto</th>
                                            <th style="width: 257px;">Promoción</th>
                                            <th style="width: 190px;">Sub total</th>
                                        </thead>
                                        <tbody>
                                            {% for detalle in venta.detail_sale.all %}
                                            <tr>
                                                <td>{{ detalle.producto.nombre }}</td>
                                                <td>$ {{ detalle.price_sale }}</td>
                                                <td>{{ detalle.count }}</td>
                                                {% if detalle.promocion == '0' %}<td>Sin promoción</td>{% endif %}
                                                {% if detalle.promocion == '1' %}<td>10 %</td>{% endif %}
                                                {% if detalle.promocion == '2' %}<td>20 %</td>{% endif %}
                                                {% if detalle.promocion == '3' %}<td>30 %</td>{% endif %}
                                                {% if detalle.promocion == '4' %}<td>2 x 1</td>{% endif %}
                                                {% if detalle.promocion == '5' %}<td>3 x 2</td>{% endif %}
                                                {% if detalle.promocion == '6' %}<td>1=10%, 2=20%</td>{% endif %}
                                                {% if detalle.promocion == '7' %}<td>2 Adidas y obtén 10%</td>{% endif %}
                                                <!-- <td>{{ detalle.promocion }}</td> -->
                                                <td>$ {{ detalle.price_subtotal }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endfor %}
                                </div>
                                <!-- ./tabla -->
                            </div>
                            <div class="row">
                                <div class="col-4 offset-4 mb-3">
                                    <button type="button" class="btn btr btn-block btn-lg" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-cash-register mr-2"></i>Cerrar caja</button>
                                </div>
                            </div>

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="max-width: 30%;" role="document">
                                    <div class="modal-content">
                                        <form action="{% url 'caja_app:caja-cerrar' %}" class="cell" method="post">{% csrf_token %}

                                            <div class="modal-header bg-navyr white">
                                                <h5 class="modal-title" id="exampleModalLabel">CIERRE DE CAJA</h5>
                                                <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times white"></i></button>
                                            </div>

                                            <div class="modal-body">
                                                <h4>¿Estás seguro que deseas realizar el cierre de caja?</h4>
                                                <div class="col-8 offset-2 mt-3">
                                                    <div class="row">
                                                        <div class="container bg-navyr white text-center">
                                                            <p style="font-weight: 900; margin-top: 10px;">MONTO TOTAL DE VENTAS DEL DÍA</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="container" style="text-align: center;">
                                                            <p style="margin-top: 10px; font-size: 30px; color: green;" >$ {{ total_vendido }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btr2" style="margin-left: 312px;"><i class="fas fa-cash-register mr-2"></i>Confirmar</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    