{% extends 'common/base.html' %}
{% load static %}

{% block head %}

{% endblock head %}

{% block sidebarlinks %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        <a href="/venta/ultimas-ventas" class="nav-link">
            <i class="nav-icon fas fa-chart-line"></i>
            <p>Ventas realizadas</p>
        </a>
    </li>
</ul>
{% endblock sidebarlinks %}

{% block extra_scripts %}{% endblock extra_scripts %}