{% extends 'ventas/base_ventas.html' %}

{% load static %}


{% block content %}

    <div class="content">
        <div class="container-fluid">
            <h5>¿Desea eliminar esta Venta?</h5>  
            <form action="{% url 'ventas_app:venta-delete' venta.id %}" method="POST">
              {% csrf_token %}
              
              <div>
                  <div>
                      <div>
                        <h3>Monto: {{ venta.amount }}</h3>
                      </div>
                      <div>
                        <h4>ID: {{ venta.id }}</h4>
                        <p>FECHA: {{ venta.date_sale }}</p>
                        <p>CANTIDAD PRODUCTOS: {{ venta.count }}</p>
                        <p>TIPO DE COMPROBANTE: {{ venta.get_type_invoice_display }}</p>
                        <p>TIPO DE PAGO: {{ venta.get_type_payment_display }}</p>
                      </div>
                  </div>
              </div>
              
              <div>
                <button type="submit">Eliminar</button>
                <a href="{% url 'ventas_app:venta-index' %}">Cancelar</a>
              </div>
            </form>
        </div>
    </div>



{% endblock content %}