{% extends 'ventas/base_ventas.html' %}
{% load static %}

{% block head %}
<title>Ventas Realizadas</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}

{% block enlace_punto_de_venta %}
<a href="/venta/index" class="nav-link">
    <i class="fas fa-shopping-cart nav-icon"></i>
    <p>Punto de Venta</p>
</a>
{% endblock enlace_punto_de_venta %}
{% block enlace_ultimas_ventas %}
<a href="/venta/ultimas-ventas" class="nav-link active" style="color: azure; background: tomato;">
    <i class="fas fa-chart-line nav-icon"></i>
    <p>Ventas del dia</p>
</a>
{% endblock enlace_ultimas_ventas %}
{% block enlace_cierre_caja %}
<a href="/cierre-caja/index" class="nav-link">
    <i class="fas fa-cash-register nav-icon"></i>
    <p>Cierre de caja</p>
</a>
{% endblock enlace_cierre_caja %}  

{% block content %}
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <!--Row content -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- Card content -->
                    <div class="card mt-3" >
                        <div class="card-header"><h1 class="card-title mt-3 mb-3 ml-3">VENTAS DEL DÍA</h1></div>

                        <!-- Card body -->
                        <div class="container-fluid mt-4 mb-3">
                            <div class="col">

                                <table class="table table-bordered table-dark">
                                    <thead class="text-center">
                                        <tr>
                                            <th style="width: 297px;">Numero</th>
                                            <th style="width: 361px;">Fecha</th>
                                            <th style="width: 322px;">Cantidad productos</th>
                                            <th style="width: 257px;">Monto total</th>
                                            <th style="width: 190px;">Cancelar venta</th>
                                        </tr>
                                    </thead>
                                </table>

                                <table class="table table-bordered table-striped" style="margin-top: -15px;">
                                    <tbody class="text-center">
                                        {% for venta in ventas %}
                                        <tr>
                                            <td style="width: 297px;">{{venta.id}}</td>
                                            <td style="width: 361px;">{{venta.date_sale}}</td>
                                            <td style="width: 322px;">{{venta.count}}</td>
                                            <td style="width: 257px;">{{venta.amount}}</td>
                                            <td style="width: 190px;">
                                                <a href="{% url 'ventas_app:venta-delete' venta.id %}" class="red"><span>
                                                    <i class="fas fa-window-close mr-1"></i>
                                                    </i>Cancelar venta</span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock content %}