<!DOCTYPE html>
<html lang="es">
<head>
    <title>Comprobante de pago</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=3.0">
</head>
<body style="font-size: 8px;">
    <table>
        <thead><tr><th width="138"></th></tr></thead>
        <tbody>
            <tr>
                <td>
                    <div style="font-size: 12px; font-weight: bold; text-align: center; margin: 10px 0px;">
                        <img src="http://165.227.76.32/static/img/pagina_inicio/logo_tezonco.png" width="70" height="60">
                    </div>
                    <div style="text-align: center;">
                        CARLOS DEL LLANO ROBLES<br>
                        RFC: LARC8305167Q5<br>
                        SUCURSAL: 2 CARLOS DEL LLANO ROBLES<br>
                        EMITIDO EN:<br>
                        AVENIDA TLAHUAC 3216<br>
                        SAN LORENZO TEZONCO C.P. 09090<br>
                        IZTAPALAPA, CIUDAD DE MÉXICO<br>
                        MATRIZ:<br>
                        AV. TLAHUAC 3216<br>
                        SAN LORENZO TEZONCO C.P. 09900<br>
                        DEL. IZTAPALAPA, CIUDAD DE MÉXICO<br>
                        TEL: 58-40-20-73<br>
                        NOTA: {{ venta.id }}<br>
                        FECHA: {{venta.date_sale}}<br>
                        <br>
                        ATENTIDO POR:<br>
                        {{ user | title }}<br>
                    </div>
                    ---------------------------------------------------------------------<br>
                    <table>
                        <thead>
                            <tr><th colspan="4">Descripción</th></tr>
                            <tr>
                                <th width="20">Cant</th>
                                <th width="40">Precio</th>
                                <th>Descuento</th>
                                <th width="34">Subtotal</th>
                            </tr>
                        </thead>
                    </table>
                    ---------------------------------------------------------------------<br>
                    <table>
                        <thead>
                            <tr>
                                <th width="20"></th>
                                <th width="40"></th>
                                <th></th>
                                <th width="34"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in detalle_productos %}
                            <tr><td colspan="4">
                                {{ producto.producto }} - {{ producto.producto.sublinea }} - {{ producto.producto.color }} - {{ producto.producto.talla }}
                            </td></tr>
                            <tr>
                                <td style="text-align: center;">{{ producto.count }}</td>
                                <td style="text-align: center;">${{ producto.price_sale }}</td>
                                <td style="text-align: center;">${{ producto.discount }}</td>
                                <td style="text-align: right;">${{ producto.price_subtotal}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    ---------------------------------------------------------------------<br>
                    <table>
                        <tbody>
                            <tr>
                                <td colspan="2">Articulos: {{venta.count}}</td>
                                <td>Total:</td>
                                <td style="text-align: right;">${{venta.amount}}</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    {{ num2word }} PESOS {{decimal}}/100 M.N.
                                </td>
                            </tr>
                            {% for e in efectivo %}
                                <tr>
                                    <td></td>
                                    <td colspan="3">Forma de pago: 
                                        {% if venta.get_type_payment_display == 'Efectivo' %}
                                            EFECTIVO
                                        {% endif %}
                                        {% if venta.get_type_payment_display == 'Tarjeta' %}
                                            TARJETA
                                        {% endif %}
                                    </td>
                                </tr>
                                
                                <tr style="padding-top: -3px;">
                                    <td></td>
                                    <td colspan="2">Total Recibido:</td>
                                    <td style="text-align: right;">${{e.cash}}</td>
                                </tr>
                                <tr style="padding-top: -3px;">
                                    <td></td>
                                    <td colspan="2">Cantidad Pagada:</td>
                                    <td style="text-align: right;">${{venta.amount}}</td>
                                </tr>
                                <tr style="padding-top: -3px;">
                                    <td></td>
                                    <td colspan="2">Cambio:</td>
                                    <td style="text-align: right;">${{e.change}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    ---------------------------------------------------------------------<br>
                    <p style="text-align: center;"> Visita nuestra tienda en línea</p>
                    <p style="text-align: center; font-weight: bold; padding-top: -3px;">tiendaabryl.mercadoshops.com.mx</p>
                    <p style="text-align: center; font-weight: bold;">¡¡¡ GRACIAS POR SU COMPRA !!!</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>