{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Comprobante de pago</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div style="font-size: 12px; font-weight: bold; text-align: center; margin: 15px 0px;">
                        <img src="http://127.0.0.1:8000/static/img/pagina_inicio/logo_abryl.png" width="40" height="35">
                        Tienda Abryl
                    </div>
                    Abryl Ropa y Calzado S.A. DE C.V.<br>
                    Avenida Tlahuac, 823<br>
                    Col. San Lorenzo Tezonco, 09900<br>
                    Del. Iztapalapa, CDMX<br>
                    RFC. DLAI-931201-M19<br>
                    <br>
                    Régimen General de Ley de Personas Morales<br>
                    -------------------------------------------------------<br>
                    <p style="text-align: center; font-weight: bold;">
                        VENTA
                    </p>
                    
                    <table>
                        <thead>
                            <tr>
                                <td>TDA</td>
                                <td style="margin-left: 6px;">TERM</td>
                                <td style="margin-left: 11px;">VTA</td>
                                <td style="margin-left: 16px;">VEND</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td style="margin-left: 6px;">01</td>
                                <td style="margin-left: 11px;">{{venta.id}}</td>
                                <td style="margin-left: 16px;">01</td>
                            </tr>
                        </tbody>
                    </table>
                        <p style="text-align: center;">Atendio: {{ user }}</p>
                    <table>
                        <tbody>
                            {% for producto in detalle_productos %}
                                <tr>
                                    <td colspan="3">{{ producto.producto.barcode }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">{{ producto.producto.nombre }}</td>
                                    <td style="text-align: right;">
                                        {{ producto.count }} X ${{ producto.producto.precio_venta}}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr></tr>
                            <tr>
                                <td colspan="2">SUBTOTAL :</td>
                                <td style="text-align: right;">
                                    {% for venta in subtotal %}
                                        {% for detalle in venta.detail_sale.all %}
                                            $ {{ detalle.subtotal }}<br>
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td colspan="2">TOTAL :</td>
                                <td style="text-align: right;">$ {{venta.amount}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">{{venta.get_type_payment_display}} :</td>
                                <td style="text-align: right;">$ {{venta.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    {{ num2word }} PESOS {{decimal}}/100 M.N.
                    -------------------------------------------------------<br>
                    <p style="text-align: center; margin: 0px;">
                        Articulos Vendidos {{venta.count}}
                    </p>
                    -------------------------------------------------------<br>
                    <p style="text-align: center;">
                        ¡Gracias por su visita!
                    </p>
                    <table style="text-align: center;">
                        <tr>
                            <td>CLIENTE</td><td>{{venta.date_sale}}</td>
                        </tr>
                    </table>
                    -------------------------------------------------------<br>
                    <p style="text-align: center;">Visítanos y compra en</p>
                    <p style="text-align: center; font-weight: bold;">
                        tiendaabryl.mercadoshops.com.mx/
                    </p>
                    -------------------------------------------------------<br>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>