{% extends 'comprazapato/base_comprazapato.html' %}
{% load static %}

{% block head %}
<title>comprazapato</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}

{% block enlace_crear_compra %}
<a href="{% url 'comprazapato_app:comprazapato' %}" class="nav-link">
    <i class="fas fa-list-ul nav-icon"></i>
    <p>Crear pedido</p>
</a>
{% endblock enlace_crear_compra %}
{% block enlace_lista_pedidos %}
<a href="{% url 'comprazapato_app:comprazapato_lista_pedidos' %}" class="nav-link">
    <i class="fas fa-truck-loading nav-icon"></i>
    <p>Lista pedidos</p>
</a>
{% endblock enlace_lista_pedidos %}

{% block content %}
<div class="content">
    <div class="container-fluid mt-3">
        <div class="card">
            <div class="card-header"><h1 class="card-title mt-3 mb-3 ml-3">ACTUALIZAR PEDIDO</h1></div>
            <div class="card-body">
                <form method="POST">{% csrf_token %}
                    <div class="row justify-content-md-center">
                        <div class="col-3">
                            <label>Estado de compra:</label>
                            {{form.estado_compra}}
                        </div>
                        <div class="col-3">
                            <label>Código de factura:</label>
                            {{form.codigo_factura}}
                        </div>
                        <div class="col-3">
                            <label>Proveedor:</label>
                            {{form.proveedor}}
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-9">
                            <label>Comentario:</label>
                            {{form.comentario}}
                        </div>
                    </div>
                    <div class="row justify-content-md-center mt-4">
                        <div class="col-3">
                            <button type="submit" class="btn col-11 btr">Actualizar pedido</button>
                        </div>
                    </div>

                    <span style="display: none;">{{form.monto_por_pagar}}</span>
                    <span style="display: none;">{{form.fecha_inicio}}</span>
                    <span style="display: none;">{{form.fecha_termino}}</span>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}