{% extends 'common/base.html' %}
{% load static %}

{% block head %}{% endblock head %}

{% block sidebarlinks %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        {% block enlace_punto_de_venta %}{% endblock enlace_punto_de_venta %}
    </li>
    <li class="nav-item">
        {% block enlace_ultimas_ventas %}{% endblock enlace_ultimas_ventas %}
    </li>
    <li class="nav-item">
        {% block enlace_cierre_caja %}{% endblock enlace_cierre_caja %}
    </li>
    <li class="nav-item mt-5">
        {% block enlace_lista_apartados %}{% endblock enlace_lista_apartados %}
    </li>
    <li class="nav-item">
        {% block enlace_crear_apartados %}{% endblock enlace_crear_apartados %}
    </li>
</ul>
{% endblock sidebarlinks %}

{% block extra_scripts %}{% endblock extra_scripts %}