{% extends 'codigobarras/base_codigobarras.html' %}
{% load static %}

{% block head %}
<title>Impresion Codigos de Barras</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}
{% block sidebarlinks %}
{% endblock sidebarlinks %}

{% block content %}


<div class="content">
    <div class="container-fluid">
       
        <div class="row">
            <div class="col-12">

                
                <div class="card mt-3">
                    <div class="card-header"><h1 class="card-title mt-3 ml-3 mb-3">Imprecion codigo de barras</h1>


                        <form class="card-tools" method="GET">
                            <div class="input-group input-group-sm mt-2" style="width: 700px;">
                                <input type="text" id="filtro" name="filtro" class="form-control float-right" placeholder="Buscar el código de barras">
                                <div class="input-group-append mr-2">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search mr-1"></i>Buscar</button>
                                </div>
                            </div>
                        </form>


                    </div>

                    
                    <div class="container-fluid mt-3 mb-3">

                        <div class="table-responsive">
                            <table class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 220px;">CÓDIGO DE BARRAS</th>
                                        <th class="text-center" style="width: 170px;">Nombre</th>
                                        <th class="text-center" style="width: 170px;">Marca</th>
                                        <th class="text-center" style="width: 170px;">Modelo</th>
                                        <th class="text-center" style="width: 170px;">Proveedor</th>
                                        <th class="text-center" style="width: 170px;">Imprimir codigo </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for a in Barras %}
                                    <tr>
                                        <td class="text-center">{{a.barcode}}</td>
                                        <td class="text-center">{{a.nombre}}</td>
                                        <td class="text-center">{{a.marca}}</td>
                                        <td class="text-center">{{a.modelo}}</td>
                                        <td class="text-center">{{a.proveedor}}</td>
                                        <td class="text-center">
                                        
                                            <a class="btn btn-social-icon btn-outline-primary" href="{% url 'codigobarras_app:barraspdf' a.barcode %}" target="_blank"><i class="fas fa-print"></i></a>
                                        
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

            
                            
                            
                    </div>
                </div>
            </div>
        </div>
</div> 





        
{% endblock content %}
    