{% extends 'administracion/administracion_base.html' %}
{% load static %}

{% block head %}
<title>Administración - Usuarios</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}

{% block menu_desplegable_general %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Reportes de ventas<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_ventas_diarias %}
			<a href="{% url 'administracion_app:index-admin' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Ultimos 31 días</p>
			</a>
			{% endblock enlace_ventas_diarias %}
		</li>
		<li class="nav-item">
			{% block enlace_ventas_mensualmente %}
			<a href="{% url 'administracion_app:admin-reporte' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Mensualmente</p>
			</a>
			{% endblock enlace_ventas_mensualmente %}
		</li>
        <li class="nav-item">
            {% block enlace_ventas_por_fecha %}
            <a href="{% url 'administracion_app:admin-resumen_ventas' %}" class="nav-link">
                <i class="fas fa-calendar-day nav-icon ml-4"></i>
                <p>Detalle de ventas</p>
            </a>
            {% endblock enlace_ventas_por_fecha %}
        </li>
		<li class="nav-item">
            {% block enlace_detalle_Completo %}
            <a href="{% url 'administracion_app:detalle_completo' %}" class="nav-link">
                <i class="fas fa-calendar-day nav-icon ml-4"></i>
                <p>Detalle completo</p>
            </a>
            {% endblock enlace_detalle_Completo %}
        </li>
		<li class="nav-item">
			{% block enlace_8020 %}
			<a href="{% url 'administracion_app:8020-base' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Informe 80/20</p>
			</a>
			{% endblock enlace_8020 %}
		</li>
        <li class="nav-item">
			{% block enlace_compra_vs_vende %}
			<a href="{% url 'administracion_app:compra_vende' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Compra vs vende</p>
			</a>
			{% endblock enlace_compra_vs_vende %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_general %}
{% block menu_desplegable %}
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-clipboard"></i><p>Otros reportes<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            {% block enlace_liquidacion %}
            <a href="{% url 'administracion_app:admin-liquidacion' %}" class="nav-link">
                <i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
                <p>Liquidacion</p>
            </a>
            {% endblock enlace_liquidacion %}
        </li>
        <li class="nav-item">
			{% block enlace_comprazapatos_lista_pedidos %}
			<a href="{% url 'administracion_app:comprazapato_lista_pedidos' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Lista pedidos</p>
			</a>
			{% endblock enlace_comprazapatos_lista_pedidos %}
		</li>
    </ul>
</li>
{% endblock menu_desplegable %}
{% block menu_desplegable_gastos %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Gastos<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_crear_gastos %}
			<a href="{% url 'administracion_app:crear-gastos' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Registrar gastos</p>
			</a>
			{% endblock enlace_crear_gastos %}
		</li>
		<li class="nav-item">
			{% block enlace_lista_gastos %}
			<a href="{% url 'administracion_app:admin-gastos' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Lista gastos</p>
			</a>
			{% endblock enlace_lista_gastos %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_gastos %}
{% block enlace_usuarios %}
<a href="{% url 'users_app:user-lista' %}" class="nav-link active" style="color: azure; background: tomato;">
    <i class="fas fa-users nav-icon"></i>
    <p>Usuarios</p>
</a>
{% endblock enlace_usuarios %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <!-- Row content -->
        <div class="row">
            <div class="col-12">

                <!-- Card content -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h1 class="card-title mt-3 mb-3 ml-3">USUARIOS DEL SISTEMA</h1>
                    </div>

                    <!-- Card body -->
                    <div class="card-body">
                        <table class="table table-striped text-center">
                            <thead>
                                <th>Email</th>
                                <th>Nombres</th>
                                <th>Ultima conexion</th>
                                <th>Permisos</th>
                                <th>Estado</th>
                                <th>Editar usuario</th>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ usuario.email }}</td>
                                    <td>{{ usuario.nombres }} {{ usuario.apellidos }}</td>
                                    <td>{{ usuario.last_login }}</td>
                                    <td>{{ usuario.get_role_display }}</td>
                                    <td>
                                        {% if usuario.is_active %}
                                          <span class="badge bg-green">Activo</span>
                                        {% else %}
                                          <span class="badge bg-red">De Baja</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'users_app:user-data-update' usuario.pk %}" class="btn btn-sm btn-social-icon btn-outline-warning">
                                          <i class="fas fa-user-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- ./card body -->
                </div>
                <!-- ./card content -->
            </div>

        </div>
        <!-- ./row content -->
    </div>
</div>

{% endblock content %}