{% extends 'administracion/administracion_base.html' %}
{% load static %}

{% block head %}
<title>Administración - 80/20</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<link rel="stylesheet" href="{% static 'CSS/dataTables.bootstrap5.min.css' %}">
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock head %}
{% block enlace_info_general %}
<a href="{% url 'administracion_app:index-admin' %}" class="nav-link">
	<i class="fas fa-money-bill-wave nav-icon"></i>
	<p>Informacion general</p>
</a>
{% endblock enlace_info_general %}
{% block menu_desplegable %}
<li class="nav-item menu-open">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Reportes<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_ventas_mes %}
			<a href="{% url 'administracion_app:admin-reporte' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Ventas por mes</p>
			</a>
			{% endblock enlace_ventas_mes %}
		</li>
		<li class="nav-item">
			{% block enlace_liquidacion %}
			<a href="{% url 'administracion_app:admin-liquidacion' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Liquidacion</p>
			</a>
			{% endblock enlace_liquidacion %}
		</li>
		<li class="nav-item">
			{% block enlace_ventas_por_fecha %}
			<a href="{% url 'administracion_app:admin-resumen_ventas' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Ventas por fecha</p>
			</a>
			{% endblock enlace_ventas_por_fecha %}
		</li>
		<li class="nav-item">
			{% block enlace_8020 %}
			<a href="{% url 'administracion_app:8020-base' %}" class="nav-link active" style="color: azure; background: tomato;">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Informe 80/20</p>
			</a>
			{% endblock enlace_8020 %}
		</li>
		<li class="nav-item">
			{% block enlace_compra_vs_vende %}
			<a href="{% url 'administracion_app:compra_vende' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Compra vs vende</p>
			</a>
			{% endblock enlace_compra_vs_vende %}
		</li>
		<li class="nav-item">
			{% block enlace_comprazapatos_lista_pedidos %}
			<a href="{% url 'administracion_app:comprazapato_lista_pedidos' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Lista pedidos</p>
			</a>
			{% endblock enlace_comprazapatos_lista_pedidos %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable %}
{% block menu_desplegable_gastos %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Gastos<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_crear_gastos %}
			<a href="{% url 'administracion_app:crear-gastos' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Registrar gastos</p>
			</a>
			{% endblock enlace_crear_gastos %}
		</li>
		<li class="nav-item">
			{% block enlace_lista_gastos %}
			<a href="{% url 'administracion_app:admin-gastos' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Lista gastos</p>
			</a>
			{% endblock enlace_lista_gastos %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_gastos %}
{% block enlace_usuarios %}
<a href="{% url 'users_app:user-lista' %}" class="nav-link">
	<i class="fas fa-users nav-icon"></i>
	<p>Usuarios</p>
</a>
{% endblock enlace_usuarios %}

{% block content %}   
<div class="content">
    <div class="container-fluid">
        <!-- Row content -->
        <div class="row">
            <div class="col-12">
                <!-- Card content -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h1 class="card-title mt-3 mb-3 ml-3">INFORME 80 / 20</h1>
                    </div>
					
					<form method="GET">{% csrf_token %}
						<div class="row mt-4">
							<div class="col-md-3 offset-md-1">
								<label>
									Fecha Inicial &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<span style="font-size: small; color: #999;"> Hora: 00:00:00</span>
								</label>
							</div>
							<div class="col-md-3 ml-2">
								<label>
									Fecha Final
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<span style="font-size: small; color: #999;"> Hora: 23:59:59</span>
								</label>
							</div>
							<div class="col-md-3 ml-2">
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-md-3 offset-md-1">
								<input type="date" id="fecha1" name="fecha1" class="form-control">
							</div>
							<div class="col-md-3 ml-2">
								<input type='date' id="fecha2" name="fecha2" class="form-control">
							</div>
							<div class="col-md-3 ml-2">
								<button type="submit" class="btn btr"><i class="fas fa-search mr-2"></i>Consultar</button>
							</div>
						</div>	
					</form> 
					
                    <!-- Card body -->
					<div class="col-md-10 offset-md-1">
						<div class="card-body  table-responsive p-0" style="height: 440px;">
							<table id="export-table" class="table table-bordered table-striped text-center  text-nowrap">
								<thead class="bg-navyr white">
									<th>Marca</th>
									<th>Piezas</th>
									<th>Venta C/iva</th>
									<th>Venta S/iva</th>
									<th>Participación</th>
									<th>Inventario Inicial en piezas</th>
									<th>Inventario Inicial en venta</th>
									<th>Utilidad</th>
									<th>Participación en Utilidad</th>
									<th>Costo de venta</th>
									<th>Precio lleno de venta</th>
									<th>Margen marcado</th>
									<th>Margen real</th>
									<th>Descuentos</th>
									<th>Inventario piezas</th>
									<th>Inventario a costo</th>
									<th>Inventario a venta</th>
									<th>Rotación</th>
									<th>Meses de inventario a venta</th>
									<th>Meses de inventario a piezas</th>
									<th># de modelos</th>
									<th>Profundidad de inventario</th>
								</thead>
								<tbody>
									{% for i_8020 in informe_8020 %}
									<tr>
										<td>{{ i_8020.nombre }}</td>
										<td>{{ i_8020.piezas }}</td>
										<td>{{ i_8020.total_ventas }}</td>
										<td>{{ i_8020.total_ventas_sin_iva }}</td>
										<td>{{ i_8020.participacion }}</td>
										<td>{{ i_8020.inventario_inicial_piezas }}</td>
										<td>{{ i_8020.inventario_inicial_venta }}</td>
										<td>{{ i_8020.utilidad }}</td>
										<td>{{ i_8020.participacion_utilidad }}</td>
										<td>{{ i_8020.costo_venta }}</td>
										<td>{{ i_8020.precio_lleno_venta }}</td>
										<td>{{ i_8020.margen_marcado }}</td>
										<td>{{ i_8020.margen_real }}</td>
										<td>{{ i_8020.descuentos }}</td>
										<td>{{ i_8020.inventario }}</td>
										<td>{{ i_8020.inventario_costo }}</td>
										<td>{{ i_8020.inventario_venta }}</td>
										<td>{{ i_8020.rotacion }}</td>
										<td>{{ i_8020.meses_inventario_venta }}</td>
										<td>{{ i_8020.meses_inventario_piezas }}</td>
										<td>{{ i_8020.num_modelos }}</td>
										<td>{{ i_8020.profundidad }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
                    <!-- ./card body -->

                </div>
                <!-- ./card content -->
            </div>
        </div>
        <!-- ./row content -->
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#export-table').DataTable({
			responsive: "True",
			//dom: 'Brtilp',
			dom: 'B',
			buttons:[
				{
					extend: 	'excelHtml5',
					text: 		'<i class="fas fa-file-excel"></i>',
					titleAttr:	'Exportar a Excel',
					className: 	'btn btn-success mr-2 float-right'
				},
				{
					extend: 	'pdfHtml5',
					text: 		'<i class="fas fa-file-pdf"></i>',
					titleAttr:	'Exportar a PDF',
					className: 	'btn btn-danger'
				},
				// {
				// 	extend: 	'print',
				// 	text: 		'<i class="fa-regular fa-file"></i>',
				// 	titleAttr:	'Imprimir',
				// 	className: 	'btn btn-primary'
				// },
			]
		});
	});
</script>
<script src="{% static 'js/datatable/datatables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatable/jszip.min.js' %}"></script>
<script src="{% static 'js/datatable/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatable/vfs_fonts.js' %}"></script>
<script src="{% static 'js/datatable/buttons.html5.min.js' %}"></script>
{% endblock extra_scripts %}