{% extends 'common/base.html' %}
{% load static %}

{% block head %}{% endblock head %}

{% block sidebarlinks %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="nav-item">
        {% block enlace_info_general %}{% endblock enlace_info_general %}
    </li>

    {% block menu_desplegable %}{% endblock menu_desplegable %}

    {% block menu_desplegable_gastos %}{% endblock menu_desplegable_gastos %}

    <li class="nav-item">
        {% block enlace_usuarios %}{% endblock enlace_usuarios %}
    </li>
</ul>
{% endblock sidebarlinks %}

{% block extra_scripts %}{% endblock extra_scripts %}