{% extends 'administracion/administracion_base.html' %}
{% load static %}

{% block head %}
<title>Administración - Detalle completo de ventas</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<!-- <link rel="stylesheet" href="{% static 'CSS/dataTables.bootstrap5.min.css' %}">
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}"> -->
{% endblock head %}

{% block menu_desplegable_general %}
<li class="nav-item menu-open">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Reportes de ventas<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_ventas_diarias %}
			<a href="{% url 'administracion_app:index-admin' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Ultimos 31 días</p>
			</a>
			{% endblock enlace_ventas_diarias %}
		</li>
		<li class="nav-item">
			{% block enlace_ventas_mensualmente %}
			<a href="{% url 'administracion_app:admin-reporte' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Mensualmente</p>
			</a>
			{% endblock enlace_ventas_mensualmente %}
		</li>
        <li class="nav-item">
            {% block enlace_ventas_por_fecha %}
            <a href="{% url 'administracion_app:admin-resumen_ventas' %}" class="nav-link">
                <i class="fas fa-calendar-day nav-icon ml-4"></i>
                <p>Detalle de ventas</p>
            </a>
            {% endblock enlace_ventas_por_fecha %}
        </li>
        <li class="nav-item">
            {% block enlace_detalle_Completo %}
            <a href="{% url 'administracion_app:detalle_completo' %}" class="nav-link active" style="color: azure; background: tomato;">
                <i class="fas fa-calendar-day nav-icon ml-4"></i>
                <p>Detalle completo</p>
            </a>
            {% endblock enlace_detalle_Completo %}
        </li>
        <li class="nav-item">
			{% block enlace_8020 %}
			<a href="{% url 'administracion_app:8020-base' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Informe 80/20</p>
			</a>
			{% endblock enlace_8020 %}
		</li>
		<li class="nav-item">
			{% block enlace_compra_vs_vende %}
			<a href="{% url 'administracion_app:compra_vende' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Compra vs vende</p>
			</a>
			{% endblock enlace_compra_vs_vende %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_general %}
{% block menu_desplegable %}
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-clipboard"></i><p>Otros reportes<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            {% block enlace_liquidacion %}
            <a href="{% url 'administracion_app:admin-liquidacion' %}" class="nav-link">
                <i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
                <p>Liquidacion</p>
            </a>
            {% endblock enlace_liquidacion %}
        </li>
        <li class="nav-item">
			{% block enlace_comprazapatos_lista_pedidos %}
			<a href="{% url 'administracion_app:comprazapato_lista_pedidos' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Lista pedidos</p>
			</a>
			{% endblock enlace_comprazapatos_lista_pedidos %}
		</li>
    </ul>
</li>
{% endblock menu_desplegable %}
{% block menu_desplegable_gastos %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Gastos<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_crear_gastos %}
			<a href="{% url 'administracion_app:crear-gastos' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Registrar gastos</p>
			</a>
			{% endblock enlace_crear_gastos %}
		</li>
		<li class="nav-item">
			{% block enlace_lista_gastos %}
			<a href="{% url 'administracion_app:admin-gastos' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Lista gastos</p>
			</a>
			{% endblock enlace_lista_gastos %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_gastos %}
{% block enlace_usuarios %}
<a href="{% url 'users_app:user-lista' %}" class="nav-link">
    <i class="fas fa-users nav-icon"></i>
    <p>Usuarios</p>
</a>
{% endblock enlace_usuarios %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <!--Row content -->
        <div class="row">
            <div class="col-12">

                <!-- Card content -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h1 class="card-title mt-3 mb-3 ml-3">DETALLE COMPLETO DE VENTAS</h1>
                    </div>

                    <!-- Card body -->
                    <div class="col-12">
                        <form method="GET" class="mt-3">
                            <div class="row justify-content-md-center">
                                <div class="col-2">
                                    <label>
                                        Fecha inicial: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span style="font-size: small; color: #999;"> Hora: 00:00:00</span>
                                    </label>
                                    {{form.date_start}}
                                </div>
                                <div class="col-2">
                                    <label>
                                        Fecha final: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span style="font-size: small; color: #999;"> Hora: 23:59:59</span>
                                    </label>
                                    {{form.date_end}}
                                </div>
                                <div class="col-2">
                                    <label>Caja:</label>
                                    {{form.caja}}
                                </div>
                                <div class="col-2">
                                    <label>Tipo de pago:</label>
                                    {{form.tipo}}
                                </div>
                            </div>
                            <div class="row justify-content-md-center mt-4">
                                <button type="submit" class="btn btr pl-5 pr-5"><i class="fas fa-search mr-2"></i>Buscar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-10 offset-md-1 mb-5">
                        <div class="card-body table-responsive p-0" style="height: 440px;">
                            <div class="row mt-4">
                                <table class="table table-striped mb-3">
                                    <thead class="table-dark text-center">
                                        <tr>
                                            <th>Venta N°</th>
                                            <th>Fecha</th>
                                            <th>Atendio</th>
                                            <th>Caja</th>
                                            <th>Tipo pago</th>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Precio costo</th>
                                            <th>Precio venta</th>
                                            <th>Promoción</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for venta in detalle_completo %}
                                        {% for detalle in venta.detail_sale.all %}
                                        <tr>
                                            <td class="text-center">{{venta.id}}</td>
                                            <td>{{venta.date_sale | date:'d/m/Y P'}}</td>
                                            <td>{{venta.user.nombres}} {{venta.user.apellidos}}</td>
                                            <td class="text-center">{{venta.caja}}</td>
                                            <td>{{venta.get_type_payment_display}} / {{ venta.get_type_invoice_display }}</td>
                                            <td>
                                                {{ detalle.producto.barcode }} - {{ detalle.producto }} - {{ detalle.producto.sublinea }} - {{ detalle.producto.color }} - {{ detalle.producto.talla }}
                                            </td>
                                            <td class="text-center">{{ detalle.count }}</td>
                                            <td class="text-center">{{ detalle.price_purchase }}</td>
                                            <td class="text-center">{{ detalle.price_sale }}</td>
                                            <td class="text-center">
                                                {% if detalle.promocion == '0' %}Sin promoción{% endif %}
                                                {% if detalle.promocion == '1' %}10 %{% endif %}
                                                {% if detalle.promocion == '2' %}20 %{% endif %}
                                                {% if detalle.promocion == '3' %}30 %{% endif %}
                                                {% if detalle.promocion == '4' %}2 x 1{% endif %}
                                                {% if detalle.promocion == '5' %}3 x 2{% endif %}
                                                {% if detalle.promocion == '6' %}1=10%, 2=20%{% endif %}
                                                {% if detalle.promocion == '7' %}2 Adidas y obtén 10%{% endif %}
                                                {% if detalle.promocion == '8' %}- $89.00{% endif %}
                                                {% if detalle.promocion == '9' %}- $99.00{% endif %}
                                                {% if detalle.promocion == '10' %}- $199.00{% endif %}
                                                {% if detalle.promocion == '11' %}- $299.00{% endif %}
                                                {% if detalle.promocion == '12' %}Descuento establecido por tienda{% endif %}
                                                {% if detalle.promocion == '13' %}Descuento familiar 30%{% endif %}
                                            </td>
                                            <td class="text-center">{{ detalle.price_subtotal }}</td>
                                        </tr>    
                                        {% endfor %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_scripts %}
<!-- <script type="text/javascript">
	$(document).ready(function(){
		$('#export-table').DataTable({
			responsive: "True",
			//dom: 'Brtilp',
			dom: 'B',
			buttons:[
				{
					extend: 	'excelHtml5',
					text: 		'<i class="fas fa-file-excel"></i>',
					titleAttr:	'Exportar a Excel',
					className: 	'btn btn-success mr-2'
				},
				{
					extend: 	'pdfHtml5',
					text: 		'<i class="fas fa-file-pdf"></i>',
					titleAttr:	'Exportar a PDF',
					className: 	'btn btn-danger'
				},
				//{
				//	extend: 	'print',
				// 	text: 		'<i class="fa-regular fa-file"></i>',
				// 	titleAttr:	'Imprimir',
				// 	className: 	'btn btn-primary'
				// },
			]
		});
	});
</script>
<script src="{% static 'js/datatable/datatables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatable/jszip.min.js' %}"></script>
<script src="{% static 'js/datatable/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatable/vfs_fonts.js' %}"></script>
<script src="{% static 'js/datatable/buttons.html5.min.js' %}"></script> -->
{% endblock extra_scripts %}