{% extends 'administracion/administracion_base.html' %}
{% load static %}

{% block head %}
<title>Administración - Detalle de gastos</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}

{% block menu_desplegable_general %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Reportes de ventas<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_ventas_diarias %}
			<a href="{% url 'administracion_app:index-admin' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Ultimos 31 días</p>
			</a>
			{% endblock enlace_ventas_diarias %}
		</li>
		<li class="nav-item">
			{% block enlace_ventas_mensualmente %}
			<a href="{% url 'administracion_app:admin-reporte' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Mensualmente</p>
			</a>
			{% endblock enlace_ventas_mensualmente %}
		</li>
        <li class="nav-item">
            {% block enlace_ventas_por_fecha %}
            <a href="{% url 'administracion_app:admin-resumen_ventas' %}" class="nav-link">
                <i class="fas fa-calendar-day nav-icon ml-4"></i>
                <p>Detalle de ventas</p>
            </a>
            {% endblock enlace_ventas_por_fecha %}
        </li>
		<li class="nav-item">
            {% block enlace_detalle_Completo %}
            <a href="{% url 'administracion_app:detalle_completo' %}" class="nav-link">
                <i class="fas fa-calendar-day nav-icon ml-4"></i>
                <p>Detalle completo</p>
            </a>
            {% endblock enlace_detalle_Completo %}
        </li>
		<li class="nav-item">
			{% block enlace_liquidacion %}
			<a href="{% url 'administracion_app:admin-liquidacion' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Ventas proveedores</p>
			</a>
			{% endblock enlace_liquidacion %}
		</li>
		<li class="nav-item">
			{% block enlace_8020 %}
			<a href="{% url 'administracion_app:8020-base' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Informe 80/20</p>
			</a>
			{% endblock enlace_8020 %}
		</li>
        <li class="nav-item">
			{% block enlace_compra_vs_vende %}
			<a href="{% url 'administracion_app:compra_vende' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Compra vs vende</p>
			</a>
			{% endblock enlace_compra_vs_vende %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_general %}
{% block menu_desplegable %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Pedidos de zapatos<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_comprazapatos_lista_pedidos %}
			<a href="{% url 'administracion_app:comprazapato_lista_pedidos' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Lista pedidos</p>
			</a>
			{% endblock enlace_comprazapatos_lista_pedidos %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable %}
{% block menu_desplegable_gastos %}
<li class="nav-item menu-open">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Gastos<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_crear_gastos %}
			<a href="{% url 'administracion_app:crear-gastos' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Registrar gastos</p>
			</a>
			{% endblock enlace_crear_gastos %}
		</li>
		<li class="nav-item">
			{% block enlace_lista_gastos %}
			<a href="{% url 'administracion_app:admin-gastos' %}" class="nav-link active" style="color: azure; background: tomato;">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Lista gastos</p>
			</a>
			{% endblock enlace_lista_gastos %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_gastos %}
{% block enlace_usuarios %}
<a href="{% url 'users_app:user-lista' %}" class="nav-link">
	<i class="fas fa-users nav-icon"></i>
	<p>Usuarios</p>
</a>
{% endblock enlace_usuarios %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <!-- Row content -->
        <div class="row">
            <div class="col-12">
                <!-- Card content -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h1 class="card-title mt-3 mb-3 ml-3">DETALLE DE GASTOS &nbsp;&nbsp;&nbsp;- - - &nbsp;&nbsp;&nbsp;FECHA {{ detalle_gastos.mes }} / {{ detalle_gastos.año }}</h1>
                    </div>

                    <!-- Card body -->
					<div class="card-body">
						<h5 class="mt-2 mb-4">INFORMACIÓN ACTUALIZADA <span style="color: #999;font-size: 19px;"> - hasta el último cierre de caja del {{ detalle_gastos.mes }} / {{ detalle_gastos.año }}</span></h5>
						<table id="export-table" class="table table-bordered table-striped col-md-6 p-0">
							<thead>
								<th width="80%"></th>
								<th width="20%"></th>
							</thead>
							<tbody>
								<tr>
									<td>Ingresos</td><td></td>
								</tr>
								<tr>
									<td>Ventas de calzado</td>
									<td class="text-right">$ {{ detalle_gastos.ventas_calzado | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Ventas de ropa</td>
									<td class="text-right">$ {{ detalle_gastos.ventas_ropa | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Ventas de accesorios</td>
									<td class="text-right">$ {{ detalle_gastos.ventas_accesorios | floatformat:2 }}</td>
								</tr>
								<tr>
									<td class="bg-navyr white text-right">Total</td>
									<td class="bg-navyr white text-right">$ {{ detalle_gastos.total_de_ventas | floatformat:2 }}</td>
								</tr>
								<tr><td></td><td></td></tr>
								<tr>
									<td>Descuentos</td><td></td>
								</tr>
								<tr>
									<td>Descuentos de calzado</td>
									<td class="text-right">$ {{ detalle_gastos.descuentos_calzado | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Descuentos de ropa</td>
									<td class="text-right">$ {{ detalle_gastos.descuentos_ropa | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Descuentos de accesorios</td>
									<td class="text-right">$ {{ detalle_gastos.descuentos_accesorios | floatformat:2 }}</td>
								</tr>
								<tr>
									<td class="bg-navyr white text-right">Total</td>
									<td class="bg-navyr white text-right">$ {{ detalle_gastos.total_de_descuentos | floatformat:2 }}</td>
								</tr>
								<tr><td></td><td></td></tr>
								<tr>
									<td>Venta neta sistema</td>
									<td class="text-right">$ {{ detalle_gastos.venta_neta_sistema | floatformat:2 }}</td>
								</tr>
								<tr><td></td><td></td></tr>
								<tr>
									<td>Costo de ventas</td><td></td>
								</tr>
								<tr>
									<td>Costo de calzado</td>
									<td class="text-right">$ {{ detalle_gastos.costo_ventas_calzado | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Costo de ropa</td>
									<td class="text-right">$ {{ detalle_gastos.costo_ventas_ropa | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Costo de accesorios</td>
									<td class="text-right">$ {{ detalle_gastos.costo_ventas_accesorios | floatformat:2 }}</td>
								</tr>
								<tr>
									<td class="bg-navyr white text-right">Total</td>
									<td class="bg-navyr white text-right">$ {{ detalle_gastos.total_de_costo_ventas | floatformat:2 }}</td>
								</tr>
								<tr><td></td><td></td></tr>
								<tr>
									<td>Ganancia bruta</td>
									<td class="text-right">$ {{ detalle_gastos.ganancia_bruta | floatformat:2 }}</td>
								</tr>
								<tr><td></td><td></td></tr>
								<tr>
									<td>Gastos bancarios</td><td></td>
								</tr>
								<tr>
									<td>Cargos bancarios</td>
									<td class="text-right">$ {{ detalle_gastos.cargosBancarios | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Comisión de tarjeta de crédito</td>
									<td class="text-right">$ {{ detalle_gastos.comisionTarjetaCredito | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Otros bancos</td>
									<td class="text-right">$ {{ detalle_gastos.otrosBancos | floatformat:2 }}</td>
								</tr>
								<tr>
									<td class="bg-navyr white text-right">Total</td>
									<td class="bg-navyr white text-right">$ {{ detalle_gastos.totales_bancarios | floatformat:2 }}</td>
								</tr>
								<tr><td></td><td></td></tr>
								<tr>
									<td>Sueldos</td><td></td>
								</tr>
								<tr>
									<td>Salarios y sueldos web</td>
									<td class="text-right">$ {{ detalle_gastos.salariosSueldosWeb | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Sueldos oficina</td>
									<td class="text-right">$ {{ detalle_gastos.sueldosOficina | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Sueldos corporativos</td>
									<td class="text-right">$ {{ detalle_gastos.sueldosCorporativos | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Comisiones pagadas</td>
									<td class="text-right">$ {{ detalle_gastos.comisionesPagadas | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Jubilación</td>
									<td class="text-right">$ {{ detalle_gastos.jubilacion | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Utilidades</td>
									<td class="text-right">$ {{ detalle_gastos.utilidades | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Costos de reclutamiento</td>
									<td class="text-right">$ {{ detalle_gastos.costosReclutamiento | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>IMSS</td>
									<td class="text-right">$ {{ detalle_gastos.imss | floatformat:2 }}</td>
								</tr>
								<tr>
									<td class="bg-navyr white text-right">Total</td>
									<td class="bg-navyr white text-right">$ {{ detalle_gastos.totales_sueldos | floatformat:2 }}</td>
								</tr>
								<tr><td></td><td></td></tr>
								<tr>
									<td>Gastos Generales</td><td></td>
								</tr>
								<tr>
									<td>Rollos de impresora</td>
									<td class="text-right">$ {{ detalle_gastos.rollosImpresora | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Tapicería</td>
									<td class="text-right">$ {{ detalle_gastos.tapiceria | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Remodelaciones de oficina</td>
									<td class="text-right">$ {{ detalle_gastos.remodelacionOficina | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Predial</td>
									<td class="text-right">$ {{ detalle_gastos.predial | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Papelería</td>
									<td class="text-right">$ {{ detalle_gastos.papeleria | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Intercomunicador</td>
									<td class="text-right">$ {{ detalle_gastos.intercomunicador | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Teléfonos de oficina</td>
									<td class="text-right">$ {{ detalle_gastos.telefonosOficina | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Luz</td>
									<td class="text-right">$ {{ detalle_gastos.luz | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Teléfono</td>
									<td class="text-right">$ {{ detalle_gastos.telefono | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Lentes</td>
									<td class="text-right">$ {{ detalle_gastos.lentes | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Fletes</td>
									<td class="text-right">$ {{ detalle_gastos.fletes | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Walmart</td>
									<td class="text-right">$ {{ detalle_gastos.walmart | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Reparaciones y mantenimiento</td>
									<td class="text-right">$ {{ detalle_gastos.reparacionesManteminiento | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Notas</td>
									<td class="text-right">$ {{ detalle_gastos.notas | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Agua</td>
									<td class="text-right">$ {{ detalle_gastos.agua | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Policía</td>
									<td class="text-right">$ {{ detalle_gastos.policia | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Gastos de viajes</td>
									<td class="text-right">$ {{ detalle_gastos.gastosViajes | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Amplificador y bocinas</td>
									<td class="text-right">$ {{ detalle_gastos.amplificadorBocinas | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Gastos cheques</td>
									<td class="text-right">$ {{ detalle_gastos.gastosCheques | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Gastos oficina</td>
									<td class="text-right">$ {{ detalle_gastos.gastosOficina | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Fideicomiso</td>
									<td class="text-right">$ {{ detalle_gastos.fideicomiso | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Contador</td>
									<td class="text-right">$ {{ detalle_gastos.contador | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Cometra</td>
									<td class="text-right">$ {{ detalle_gastos.cometra | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Paletas</td>
									<td class="text-right">$ {{ detalle_gastos.paletas | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Finiquito</td>
									<td class="text-right">$ {{ detalle_gastos.finiquito | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Honorarios de consultores</td>
									<td class="text-right">$ {{ detalle_gastos.honorariosConsultores | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Impuesto CDMX</td>
									<td class="text-right">$ {{ detalle_gastos.impuestoCDMX | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Cheques Abril</td>
									<td class="text-right">$ {{ detalle_gastos.chequesAbril | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Equipos de computo</td>
									<td class="text-right">$ {{ detalle_gastos.equipoComputo | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Mantenimiento computo</td>
									<td class="text-right">$ {{ detalle_gastos.mantenimientoComputo | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Viaticos</td>
									<td class="text-right">$ {{ detalle_gastos.viaticos | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Comidas y cenas</td>
									<td class="text-right">$ {{ detalle_gastos.comidas | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Valoración de Inmuebles</td>
									<td class="text-right">$ {{ detalle_gastos.valoracionInmuebles | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Imprenta</td>
									<td class="text-right">$ {{ detalle_gastos.imprenta | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Comisión de renta de local</td>
									<td class="text-right">$ {{ detalle_gastos.comisionRentaLocal | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Impuestos</td>
									<td class="text-right">$ {{ detalle_gastos.impuestos | floatformat:2 }}</td>
								</tr>
								<tr>
									<td class="bg-navyr white text-right">Total</td>
									<td class="bg-navyr white text-right">$ {{ detalle_gastos.totales_generales | floatformat:2 }}</td>
								</tr>
								<tr><td></td><td></td></tr>
								<tr>
									<td>Total de gastos bancarios</td>
									<td class="text-right">$ {{ detalle_gastos.totales_bancarios | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Total de sueldos</td>
									<td class="text-right">$ {{ detalle_gastos.totales_sueldos | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Total de gastos generales</td>
									<td class="text-right">$ {{ detalle_gastos.totales_generales | floatformat:2 }}</td>
								</tr>
								<tr>
									<td class="bg-tomato white"><b>Total de gastos</b></td>
									<td class="bg-tomato white text-right"><b>$ {{ detalle_gastos.gastosTotales | floatformat:2 }}</b></td>
								</tr>
								<tr><td></td><td></td></tr>
								<tr>
									<td>Mes neto (Beneficio / perdida)</td>
									<td class="text-right">$ {{ detalle_gastos.mes_neto | floatformat:2 }}</td>
								</tr>
								<tr>
									<td>Piezas de calzado vendidas</td>
									<td class="text-right">{{ detalle_gastos.cantidad_calzado }}</td>
								</tr>
								<tr>
									<td>Piezas de ropa vendidas</td>
									<td class="text-right">{{ detalle_gastos.cantidad_ropa }}</td>
								</tr>
								<tr>
									<td>Piezas de accesorios vendidas</td>
									<td class="text-right">{{ detalle_gastos.cantidad_accesorios }}</td>
								</tr>
								<tr>
									<td>Margen comercial</td>
									<td class="text-right">{{ detalle_gastos.margen_comercial | floatformat:2 }} %</td>
								</tr>
								<tr>
									<td>Ebit</td>
									<td class="text-right">{{ detalle_gastos.ebit | floatformat:2 }} %</td>
								</tr>
							</tbody>
						</table>
					</div>
                    <!-- ./card body -->
					
					<!-- Card footer -->
					<div class="card-footer col-12">
						<div class="col-md-6">
							<a href="{% url 'administracion_app:admin-gastos' %}" class="btn btn-default float-right mt-3 mb-3" type="button"><I class="fa fa-undo-alt mr-2"></I>Regresar</a>
						</div>
					</div>
					<!-- ./card footer -->
                </div>
                <!-- ./card content -->
            </div>
        </div>
        <!-- ./row content -->
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#export-table').DataTable({
			"ordering": false,
			"pageLength": 100,
			responsive: "True",
			language: {url: "{% static 'js/datatable/es-MX.json' %}"},
			//dom: 'Brtilp',
			dom: 'B',
			buttons:[
				{
					extend: 	'excelHtml5',
					text: 		'<i class="fas fa-file-excel"></i>',
					titleAttr:	'Exportar a Excel',
					className: 	'btn btn-success mr-2'
				},
				{
					extend: 	'pdfHtml5',
					text: 		'<i class="fas fa-file-pdf"></i>',
					titleAttr:	'Exportar a PDF',
					className: 	'btn btn-danger'
				},
				//{
				//	extend: 	'print',
				// 	text: 		'<i class="fa-regular fa-file"></i>',
				// 	titleAttr:	'Imprimir',
				// 	className: 	'btn btn-primary'
				// },
			]
		});
	});
</script>
<script src="{% static 'js/datatable/datatables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatable/jszip.min.js' %}"></script>
<script src="{% static 'js/datatable/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatable/vfs_fonts.js' %}"></script>
<script src="{% static 'js/datatable/buttons.html5.min.js' %}"></script>
{% endblock extra_scripts %}