{% extends 'administracion/administracion_base.html' %}
{% load static %}

{% block head %}
<title>Administración</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}

{% block menu_desplegable_general %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Reportes de ventas<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_ventas_diarias %}
			<a href="{% url 'administracion_app:index-admin' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Ultimos 31 días</p>
			</a>
			{% endblock enlace_ventas_diarias %}
		</li>
		<li class="nav-item">
			{% block enlace_ventas_mensualmente %}
			<a href="{% url 'administracion_app:admin-reporte' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Mensualmente</p>
			</a>
			{% endblock enlace_ventas_mensualmente %}
		</li>
        <li class="nav-item">
            {% block enlace_ventas_por_fecha %}
            <a href="{% url 'administracion_app:admin-resumen_ventas' %}" class="nav-link">
                <i class="fas fa-calendar-day nav-icon ml-4"></i>
                <p>Detalle de ventas</p>
            </a>
            {% endblock enlace_ventas_por_fecha %}
        </li>
		<li class="nav-item">
            {% block enlace_detalle_Completo %}
            <a href="{% url 'administracion_app:detalle_completo' %}" class="nav-link">
                <i class="fas fa-calendar-day nav-icon ml-4"></i>
                <p>Detalle completo</p>
            </a>
            {% endblock enlace_detalle_Completo %}
        </li>
		<li class="nav-item">
			{% block enlace_8020 %}
			<a href="{% url 'administracion_app:8020-base' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Informe 80/20</p>
			</a>
			{% endblock enlace_8020 %}
		</li>
        <li class="nav-item">
			{% block enlace_compra_vs_vende %}
			<a href="{% url 'administracion_app:compra_vende' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Compra vs vende</p>
			</a>
			{% endblock enlace_compra_vs_vende %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_general %}
{% block menu_desplegable %}
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-clipboard"></i><p>Otros reportes<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            {% block enlace_liquidacion %}
            <a href="{% url 'administracion_app:admin-liquidacion' %}" class="nav-link">
                <i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
                <p>Liquidacion</p>
            </a>
            {% endblock enlace_liquidacion %}
        </li>
        <li class="nav-item">
			{% block enlace_comprazapatos_lista_pedidos %}
			<a href="{% url 'administracion_app:comprazapato_lista_pedidos' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Lista pedidos</p>
			</a>
			{% endblock enlace_comprazapatos_lista_pedidos %}
		</li>
    </ul>
</li>
{% endblock menu_desplegable %}
{% block menu_desplegable_gastos %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Gastos<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_crear_gastos %}
			<a href="{% url 'administracion_app:crear-gastos' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Registrar gastos</p>
			</a>
			{% endblock enlace_crear_gastos %}
		</li>
		<li class="nav-item">
			{% block enlace_lista_gastos %}
			<a href="{% url 'administracion_app:admin-gastos' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Lista gastos</p>
			</a>
			{% endblock enlace_lista_gastos %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_gastos %}
{% block enlace_usuarios %}
<a href="{% url 'users_app:user-lista' %}" class="nav-link">
    <i class="fas fa-users nav-icon"></i>
    <p>Usuarios</p>
</a>
{% endblock enlace_usuarios %}

{% block content %}
<div class="content" style="padding: 70px 0; text-align: center;">
    <div class="container-fluid" style="padding: 70px 0; text-align: center;">
        <!--Row content -->
        <div class="row" style="padding: 70px 0; text-align: center;">
            <div class="col-12" style="padding: 70px 0; text-align: center;">
                <div class="callout bg-navy color-palette">
                <h2>Bienvenido al Sistema:</h2>
                <h1>{{user.nombres}} {{user.apellidos}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    
