{% extends 'administracion/administracion_base.html' %}
{% load static %}

{% block head %}
<title>Administración</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}
{% block enlace_info_general %}
<a href="{% url 'administracion_app:index-admin' %}" class="nav-link">
	<i class="fas fa-money-bill-wave nav-icon"></i>
	<p>Informacion general</p>
</a>
{% endblock enlace_info_general %}
{% block menu_desplegable %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Reportes<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_ventas_mes %}
			<a href="{% url 'administracion_app:admin-reporte' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Ventas por mes</p>
			</a>
			{% endblock enlace_ventas_mes %}
		</li>
		<li class="nav-item">
			{% block enlace_liquidacion %}
			<a href="{% url 'administracion_app:admin-liquidacion' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Liquidacion</p>
			</a>
			{% endblock enlace_liquidacion %}
		</li>
		<li class="nav-item">
			{% block enlace_ventas_por_fecha %}
			<a href="{% url 'administracion_app:admin-resumen_ventas' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Ventas por fecha</p>
			</a>
			{% endblock enlace_ventas_por_fecha %}
		</li>
		<li class="nav-item">
			{% block enlace_8020 %}
			<a href="{% url 'administracion_app:8020-base' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Informe 80/20</p>
			</a>
			{% endblock enlace_8020 %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable %}
{% block menu_desplegable_gastos %}
<li class="nav-item menu-open">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Gastos<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_crear_gastos %}
			<a href="{% url 'administracion_app:crear-gastos' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Registrar gastos</p>
			</a>
			{% endblock enlace_crear_gastos %}
		</li>
		<li class="nav-item">
			{% block enlace_lista_gastos %}
			<a href="{% url 'administracion_app:admin-gastos' %}" class="nav-link active" style="color: azure; background: tomato;">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Ver gastos</p>
			</a>
			{% endblock enlace_lista_gastos %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_gastos %}
{% block enlace_usuarios %}
<a href="{% url 'users_app:user-lista' %}" class="nav-link">
	<i class="fas fa-users nav-icon"></i>
	<p>Usuarios</p>
</a>
{% endblock enlace_usuarios %}

{% block content %}   
<div class="content">
    <div class="container-fluid">
        <!-- Row content -->
        <div class="row">
            <div class="col-12">
                <!-- Card content -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h1 class="card-title mt-3 mb-3 ml-3">REPORTE DE GASTOS</h1>
                    </div>

                    <!-- Card body -->
                    <div class="card-body">
                        <table class="table table-bordered table-striped text-center">
                            <thead class="bg-navyr white">
								<th>#</th>
								<th>Mes / Año</th>
								<th>Total de gastos &nbsp;&nbsp;&nbsp;- &nbsp;&nbsp;&nbsp;<span style="font-size: small; color: #ccc;">( bancarios, sueldos, generales )</span></th>
								<th>Ver detalle / Editar</th>
                            </thead>
                            <tbody>
								{% for lg in lista_gastos %}
								<tr>
									<td>{{ lg.id }}</td>
									<td>{{ lg.mes }} / {{ lg.año }}</td>
									<td>$ {{ lg.gastosTotales | floatformat:2 }}</td>
									<td>
										<a type="button" class="btn btn-sm btn-info mr-2" href="{% url 'administracion_app:detalle-gastos' lg.id %}">
											<span class="fas fa-eye"></span>
										</a>
										<a type="button" class="btn btn-sm btn-primary" href="{% url 'administracion_app:modificar-gastos' lg.id %}">
											<span class="fas fa-pencil-alt"></span>
										</a>
									</td>
								</tr>
								{% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- ./card body -->

                </div>
                <!-- ./card content -->
            </div>
        </div>
        <!-- ./row content -->
    </div>
</div>
{% endblock content %}