{% extends 'administracion/administracion_base.html' %}
{% load static %}

{% block head %}
<title>Administración - Lista de pedidos</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<link rel="stylesheet" href="{% static 'CSS/dataTables.bootstrap5.min.css' %}">
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock head %}

{% block enlace_info_general %}
<a href="{% url 'administracion_app:index-admin' %}" class="nav-link">
    <i class="fas fa-money-bill-wave nav-icon"></i>
    <p>Informacion general</p>
</a>
{% endblock enlace_info_general %}
{% block menu_desplegable %}
<li class="nav-item menu-open">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-clipboard"></i><p>Reportes<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            {% block enlace_ventas_mes %}
            <a href="{% url 'administracion_app:admin-reporte' %}" class="nav-link">
                <i class="fas fa-chart-bar nav-icon ml-4"></i>
                <p>Ventas por mes</p>
            </a>
            {% endblock enlace_ventas_mes %}
        </li>
        <li class="nav-item">
            {% block enlace_liquidacion %}
            <a href="{% url 'administracion_app:admin-liquidacion' %}" class="nav-link">
                <i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
                <p>Liquidacion</p>
            </a>
            {% endblock enlace_liquidacion %}
        </li>
        <li class="nav-item">
            {% block enlace_ventas_por_fecha %}
            <a href="{% url 'administracion_app:admin-resumen_ventas' %}" class="nav-link">
                <i class="fas fa-calendar-day nav-icon ml-4"></i>
                <p>Ventas por fecha</p>
            </a>
            {% endblock enlace_ventas_por_fecha %}
        </li>
        <li class="nav-item">
			{% block enlace_8020 %}
			<a href="{% url 'administracion_app:8020-base' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Informe 80/20</p>
			</a>
			{% endblock enlace_8020 %}
		</li>
        <li class="nav-item">
			{% block enlace_compra_vs_vende %}
			<a href="{% url 'administracion_app:compra_vende' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Compra vs vende</p>
			</a>
			{% endblock enlace_compra_vs_vende %}
		</li>
        <li class="nav-item">
			{% block enlace_comprazapatos_lista_pedidos %}
			<a href="{% url 'administracion_app:comprazapato_lista_pedidos' %}" class="nav-link active" style="color: azure; background: tomato;">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Lista pedidos</p>
			</a>
			{% endblock enlace_comprazapatos_lista_pedidos %}
		</li>
    </ul>
</li>
{% endblock menu_desplegable %}
{% block menu_desplegable_gastos %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Gastos<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_crear_gastos %}
			<a href="{% url 'administracion_app:crear-gastos' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Registrar gastos</p>
			</a>
			{% endblock enlace_crear_gastos %}
		</li>
		<li class="nav-item">
			{% block enlace_lista_gastos %}
			<a href="{% url 'administracion_app:admin-gastos' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Lista gastos</p>
			</a>
			{% endblock enlace_lista_gastos %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_gastos %}
{% block enlace_usuarios %}
<a href="{% url 'users_app:user-lista' %}" class="nav-link">
    <i class="fas fa-users nav-icon"></i>
    <p>Usuarios</p>
</a>
{% endblock enlace_usuarios %}

{% block content %}
<div class="content">
    <div class="container-fluid mt-3">
        <div class="card">
            <div class="card-header"><h1 class="card-title mt-3 mb-3 ml-3">LISTA DE PEDIDOS</h1></div>
            <div class="card-body">
               <table id="export-table" class="table table-bordered table-striped text-center">
                <thead class="bg-navyr white">
                    <th>ID de compra</th>
                    <th>Monto</th>
                    <th>Fecha inicio</th>
                    <th>Fecha final</th>
                    <th>Estado de la compra</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    {% for pedidos in lista_pedidos %}
                    <tr>
                        <td>{{pedidos.id}}</td>
                        <td>{{pedidos.monto_por_pagar}}</td>
                        <td>{{pedidos.fecha_inicio}}</td>
                        <td>{{pedidos.fecha_termino}}</td>
                        <td>{{pedidos.get_estado_compra_display}}</td>
                        <td><a type="button" class="btn btn-sm btn-primary" href="{% url 'administracion_app:vista-comprazapato' pedidos.id %}">
                            <span class="fas fa-eye"></span>
                        </a>
                        <span> | </span>
                        <a type="button" class="btn btn-sm btn-danger" href="{% url 'administracion_app:borrar_pedido' pedidos.id %}">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                    </tr>    
                    {% endfor %}
                </tbody>
               </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$('#export-table').DataTable({
			responsive: "True",
			//dom: 'Brtilp',
			dom: 'B',
			buttons:[
				{
					extend: 	'excelHtml5',
					text: 		'<i class="fas fa-file-excel"></i>',
					titleAttr:	'Exportar a Excel',
					className: 	'btn btn-success mr-2 float-right'
				},
				{
					extend: 	'pdfHtml5',
					text: 		'<i class="fas fa-file-pdf"></i>',
					titleAttr:	'Exportar a PDF',
					className: 	'btn btn-danger'
				},
				// {
				// 	extend: 	'print',
				// 	text: 		'<i class="fa-regular fa-file"></i>',
				// 	titleAttr:	'Imprimir',
				// 	className: 	'btn btn-primary'
				// },
			]
		});
	});
</script>
<script src="{% static 'js/datatable/datatables.min.js' %}"></script>
<script src="{% static 'js/datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/datatable/jszip.min.js' %}"></script>
<script src="{% static 'js/datatable/pdfmake.min.js' %}"></script>
<script src="{% static 'js/datatable/vfs_fonts.js' %}"></script>
<script src="{% static 'js/datatable/buttons.html5.min.js' %}"></script>
{% endblock extra_scripts %}