{% extends 'administracion/administracion_base.html' %}
{% load static %}

{% block head %}
<title>administracion</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}

{% block enlace_info_general %}
<a href="{% url 'administracion_app:index-admin' %}" class="nav-link">
    <i class="fas fa-money-bill-wave nav-icon"></i>
    <p>Informacion general</p>
</a>
{% endblock enlace_info_general %}
{% block menu_desplegable %}
<li class="nav-item menu-open">
  <a href="#" class="nav-link">
      <i class="nav-icon fas fa-clipboard"></i><p>Reportes<i class="fas fa-angle-left right"></i></p>
  </a>
  <ul class="nav nav-treeview">
      <li class="nav-item">
        {% block enlace_ventas_mes %}
        <a href="{% url 'administracion_app:admin-reporte' %}" class="nav-link active" style="color: azure; background: tomato;">
            <i class="fas fa-chart-bar nav-icon ml-4"></i>
            <p>Ventas por mes</p>
        </a>
        {% endblock enlace_ventas_mes %}
      </li>
      <li class="nav-item">
        {% block enlace_liquidacion %}
        <a href="{% url 'administracion_app:admin-liquidacion' %}" class="nav-link">
            <i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
            <p>Liquidacion</p>
        </a>
        {% endblock enlace_liquidacion %}
      </li>
      <li class="nav-item">
        {% block enlace_ventas_por_fecha %}
        <a href="{% url 'administracion_app:admin-resumen_ventas' %}" class="nav-link">
            <i class="fas fa-calendar-day nav-icon ml-4"></i>
            <p>Ventas por fecha</p>
        </a>
        {% endblock enlace_ventas_por_fecha %}
      </li>
  </ul>
</li>
{% endblock menu_desplegable %}
{% block enlace_usuarios %}
<a href="{% url 'users_app:user-lista' %}" class="nav-link">
    <i class="fas fa-users nav-icon"></i>
    <p>Usuarios</p>
</a>
{% endblock enlace_usuarios %}

{% block content %}    
<div class="content">
    <div class="container-fluid">
        <!-- Row content -->
        <div class="row">
            <div class="col-12">
                <!-- Card content -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h1 class="card-title mt-3 mb-3 ml-3">REPORTE DE VENTAS POR MES</h1>
                    </div>

                    <!-- Card body -->
                    <div class="card-body">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                          <div class="info-box bg-navyr white">
                            <span class="info-box-icon bg-green"><i class="fas fa-money-bill-wave"></i></span>
                
                            <div class="info-box-content text-center">
                              <span class="info-box-text">Total de ventas hasta hoy</span>
                              <span class="info-box-number">$ {{ total_ventas }}</span>
                            </div>
                          </div>
                        </div>
                    
                   
                        <table class="table table-bordered table-striped text-center">
                            <thead class="bg-navyr white">
                              <th>Mes</th>
                              <th>Productos vendidos</th>
                              <th>Monto total vendido</th>
                              <th>Total de ganancias</th>
                            </thead>
                            <tbody>
                              {% for venta in resumen_ventas_mes %}
                              <tr>
                                <td>{{ venta.sale__date_sale__date__month }} / {{venta.sale__date_sale__date__year}}</td>
                                <td>{{ venta.cantidad_ventas }}</td>
                                <td>$ {{ venta.total_ventas | floatformat:2 }} </td>
                                <td>$ {{ venta.ganancia_total | floatformat:2 }} </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- ./card body -->
                </div>
                <!-- ./card content -->
            </div>
        </div>
        <!-- ./row content -->
    </div>
</div>
{% endblock content %}