{% extends 'administracion/administracion_base.html' %}

{% load static %}

{% block head %}
<title>administracion</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}


{% block content %}
    
<div class="content">
    <div class="container-fluid">
        <!--Row content -->
        <div class="row">
            <div class="col-12">
            


                <!-- Card content -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h1 class="card-title mt-3 mb-3 ml-3">Resumen de ventas por mes</h1>
                    </div>

                    <!-- Card body -->
                    <div class="container-fluid mt-3 mb-3">
                      <div class="col-md-3 col-sm-6 col-xs-12">
                    


                      <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fas fa-money-bill-wave"></i></span>
            
                        <div class="info-box-content">
                          <span class="info-box-text">Tus Ventas hasta hoy</span>
                          <span class="info-box-number">$ {{ total_ventas }}</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                    </div>
                    
                   
                        <table class="table table-striped text-nowrap">
                            <thead>
                              <th>Mes</th>
                              <th>Num Ventas</th>
                              <th>Venta Total</th>
                              <th>Ganancia Total</th>
                            </thead>
                            <tbody>
                              {% for venta in resumen_ventas_mes %}
                              <tr>
                                <td>{{ venta.sale__date_sale__date__month }} / {{venta.sale__date_sale__date__year}}</td>
                                <td>{{ venta.cantidad_ventas }}</td>
                                <td>{{ venta.total_ventas }} </td>
                                <td>{{ venta.ganancia_total }} </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}