{% extends 'administracion/administracion_base.html' %}
{% load static %}

{% block head %}
<title>Administración</title>
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
{% endblock head %}

{% block enlace_info_general %}
<a href="{% url 'administracion_app:index-admin' %}" class="nav-link">
    <i class="fas fa-money-bill-wave nav-icon"></i>
    <p>Informacion general</p>
</a>
{% endblock enlace_info_general %}
{% block menu_desplegable %}
<li class="nav-item menu-open">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-clipboard"></i><p>Reportes<i class="fas fa-angle-left right"></i></p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            {% block enlace_ventas_mes %}
            <a href="{% url 'administracion_app:admin-reporte' %}" class="nav-link">
                <i class="fas fa-chart-bar nav-icon ml-4"></i>
                <p>Ventas por mes</p>
            </a>
            {% endblock enlace_ventas_mes %}
        </li>
        <li class="nav-item">
            {% block enlace_liquidacion %}
            <a href="{% url 'administracion_app:admin-liquidacion' %}" class="nav-link">
                <i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
                <p>Liquidacion</p>
            </a>
            {% endblock enlace_liquidacion %}
        </li>
        <li class="nav-item">
            {% block enlace_ventas_por_fecha %}
            <a href="{% url 'administracion_app:admin-resumen_ventas' %}" class="nav-link active" style="color: azure; background: tomato;">
                <i class="fas fa-calendar-day nav-icon ml-4"></i>
                <p>Ventas por fecha</p>
            </a>
            {% endblock enlace_ventas_por_fecha %}
        </li>
        <li class="nav-item">
			{% block enlace_8020 %}
			<a href="{% url 'administracion_app:8020-base' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Informe 80/20</p>
			</a>
			{% endblock enlace_8020 %}
		</li>
        <li class="nav-item">
			{% block enlace_compra_vs_vende %}
			<a href="{% url 'administracion_app:compra_vende' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Compra vs vende</p>
			</a>
			{% endblock enlace_compra_vs_vende %}
		</li>
        <li class="nav-item">
			{% block enlace_comprazapatos_lista_pedidos %}
			<a href="{% url 'administracion_app:comprazapato_lista_pedidos' %}" class="nav-link">
				<i class="fas fa-calendar-day nav-icon ml-4"></i>
				<p>Lista Pedidos</p>
			</a>
			{% endblock enlace_comprazapatos_lista_pedidos %}
		</li>
    </ul>
</li>
{% endblock menu_desplegable %}
{% block menu_desplegable_gastos %}
<li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-clipboard"></i><p>Gastos<i class="fas fa-angle-left right"></i></p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			{% block enlace_crear_gastos %}
			<a href="{% url 'administracion_app:crear-gastos' %}" class="nav-link">
				<i class="fas fa-file-invoice-dollar nav-icon ml-4"></i>
				<p>Registrar gastos</p>
			</a>
			{% endblock enlace_crear_gastos %}
		</li>
		<li class="nav-item">
			{% block enlace_lista_gastos %}
			<a href="{% url 'administracion_app:admin-gastos' %}" class="nav-link">
				<i class="fas fa-chart-bar nav-icon ml-4"></i>
				<p>Ver gastos</p>
			</a>
			{% endblock enlace_lista_gastos %}
		</li>
	</ul>
</li>
{% endblock menu_desplegable_gastos %}
{% block enlace_usuarios %}
<a href="{% url 'users_app:user-lista' %}" class="nav-link">
    <i class="fas fa-users nav-icon"></i>
    <p>Usuarios</p>
</a>
{% endblock enlace_usuarios %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <!--Row content -->
        <div class="row">
            <div class="col-12">

                <!-- Card content -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h1 class="card-title mt-3 mb-3 ml-3">VENTAS POR FECHA</h1>
                    </div>

                    <!-- Card body -->
                    <div class="card-body">
                        <form method="GET">
                            <div class="row justify-content-md-center">
                                <div class="col-3">
                                    <label>Fecha inicial:</label>
                                    {{form.date_start}}
                                </div>
                                <div class="col-3">
                                    <label>Fecha final:</label>
                                    {{form.date_end}}
                                </div>
                            </div>
                            <div class="row justify-content-md-center mt-4">
                                <div class="col-3">
                                    <button type="submit" class="btn col-11 btr"><i class="fas fa-search mr-2"></i>Buscar</button>
                                </div>
                            </div>
                        </form>

                        {% for venta in resumen_ventas %}
                        <table class="table table-dark">
                            <thead>
                                <th style="width: 297px;">Venta N° {{venta.id}}</th>
                                <th style="width: 361px;">Fecha: {{venta.date_sale|date:'m/d/Y P' }}</th>
                                <th style="width: 322px;">Cantidad: {{venta.count}}</th>
                                <th style="width: 257px;">Pago: {{venta.get_type_payment_display}} / {{ venta.get_type_invoice_display }}</th>
                                
                                <th style="width: 190px; color: lime;">Total: $ {{ venta.amount }}</th>
                            </thead>
                        </table>
                        <table class="table table-striped mb-3">
                            <thead>
                                <th style="width: 297px;">Producto</th>
                                <th style="width: 361px;">Precio Venta</th>
                                <th style="width: 322px;">Cantidad de productos</th>
                                <th style="width: 257px;">Promoción</th>
                                <th style="width: 190px;">Sub total</th>
                            </thead>
                            <tbody>
                                {% for detalle in venta.detail_sale.all %}
                                <tr>
                                    <td>{{ detalle.producto.nombre }}</td>
                                    <td>$ {{ detalle.price_sale }}</td>
                                    <td>{{ detalle.count }}</td>
                                    {% if detalle.promocion == '0' %}<td>Sin promoción</td>{% endif %}
                                    {% if detalle.promocion == '1' %}<td>10 %</td>{% endif %}
                                    {% if detalle.promocion == '2' %}<td>20 %</td>{% endif %}
                                    {% if detalle.promocion == '3' %}<td>30 %</td>{% endif %}
                                    {% if detalle.promocion == '4' %}<td>2 x 1</td>{% endif %}
                                    {% if detalle.promocion == '5' %}<td>3 x 2</td>{% endif %}
                                    {% if detalle.promocion == '6' %}<td>1=10%, 2=20%</td>{% endif %}
                                    {% if detalle.promocion == '7' %}<td>2 Adidas y obtén 10%</td>{% endif %}
                                    <td>$ {{ detalle.price_subtotal }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}