{% load static %}
{% load widget_tweaks %}

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="modal-header" style="background: #1D2535; color: #fff;">
        <h5 class="modal-title">REGISTRAR ROPA</h5>
        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times" style="color: white;"></i></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-3 mb-1">
                <h5><b>INFORMACIÓN</b></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-3 ml-5">
                <label><span style="color: red; font-size: small; ">* </span>Proveedor:</label>{{ form.proveedor }}
                <label><span style="color: red; font-size: small; ">* </span>Marca:</label>{{ form.marca }}
                <label>Modelo:</label>{{ form.modelo }}
                <label>Código de barras exterior:</label>{{ form.barcode_exterior }}
            </div>

            <div class="col-3 offset-1">
                <label><span style="color: red; font-size: small; ">* </span>Línea:</label>
                <select id="id_genero" name="genero" class="form-control mb-3">
                    <option value="" selected="">---------</option>
                    <option value="0">BEBE</option>
                    <option value="1">CABALLERO</option>
                    <option value="2">DAMA</option>
                    <option value="3">JOVEN</option>
                    <option value="4">NIÑA</option>
                    <option value="5">NIÑO</option>
                    <option value="6">UNISEX</option>
                    <option value="7">VARIOS</option>
                </select>
                <label><span style="color: red; font-size: small; ">* </span>Sublínea:</label>{{ form.linea_r }}
                <label><span style="color: red; font-size: small; ">* </span>Talla:</label>
                <select id="id_talla" name="talla" class="form-control mb-3">
                    <option value="" selected="">---------</option>
                    <option value="001" data-chained="0">UN</option>
                    <option value="002" data-chained="0">PZA</option>
                    <option value="003" data-chained="1">UN</option>
                    <option value="004" data-chained="1">10</option>
                    <option value="005" data-chained="1">12</option>
                    <option value="006" data-chained="1">14</option>
                    <option value="007" data-chained="1">14.5</option>
                    <option value="008" data-chained="1">15</option>
                    <option value="009" data-chained="1">15.5</option>
                    <option value="010" data-chained="1">16</option>
                    <option value="011" data-chained="1">16.5</option>
                    <option value="012" data-chained="1">17</option>
                    <option value="013" data-chained="1">17.5</option>
                    <option value="014" data-chained="1">18</option>
                    <option value="015" data-chained="1">20</option>
                    <option value="016" data-chained="1">22</option>
                    <option value="017" data-chained="1">24</option>
                    <option value="018" data-chained="1">26</option>
                    <option value="019" data-chained="1">28</option>
                    <option value="020" data-chained="1">30</option>
                    <option value="021" data-chained="1">32</option>
                    <option value="022" data-chained="1">34</option>
                    <option value="023" data-chained="1">36</option>
                    <option value="024" data-chained="1">38</option>
                    <option value="025" data-chained="1">40</option>
                    <option value="026" data-chained="1">42</option>
                    <option value="027" data-chained="1">80</option>
                    <option value="028" data-chained="1">CH</option>
                    <option value="029" data-chained="1">M</option>
                    <option value="030" data-chained="1">G</option>
                    <option value="031" data-chained="1">XG</option>
                    <option value="032" data-chained="2">PZA0</option>
                    <option value="033" data-chained="2">UN</option>
                    <option value="034" data-chained="2">10</option>
                    <option value="035" data-chained="2">12</option>
                    <option value="036" data-chained="2">14</option>
                    <option value="037" data-chained="2">16</option>
                    <option value="038" data-chained="2">28</option>
                    <option value="039" data-chained="2">30</option>
                    <option value="040" data-chained="2">32</option>
                    <option value="041" data-chained="2">34</option>
                    <option value="042" data-chained="2">36</option>
                    <option value="043" data-chained="2">38</option>
                    <option value="044" data-chained="2">40</option>
                    <option value="045" data-chained="2">42</option>
                    <option value="046" data-chained="2">60</option>
                    <option value="047" data-chained="2">80</option>
                    <option value="048" data-chained="2">XCH</option>
                    <option value="049" data-chained="2">CH</option>
                    <option value="050" data-chained="2">M</option>
                    <option value="051" data-chained="2">G</option>
                    <option value="052" data-chained="2">XG</option>
                    <option value="053" data-chained="3">28</option>
                    <option value="054" data-chained="3">30</option>
                    <option value="055" data-chained="3">32</option>
                    <option value="056" data-chained="3">34</option>
                    <option value="057" data-chained="3">36</option>
                    <option value="058" data-chained="3">38</option>
                    <option value="059" data-chained="3">40</option>
                    <option value="060" data-chained="3">42</option>
                    <option value="061" data-chained="4">10</option>
                    <option value="062" data-chained="4">12</option>
                    <option value="063" data-chained="4">14</option>
                    <option value="064" data-chained="4">16</option>
                    <option value="065" data-chained="4">18</option>
                    <option value="066" data-chained="4">18.5</option>
                    <option value="067" data-chained="4">19</option>
                    <option value="068" data-chained="4">19.5</option>
                    <option value="069" data-chained="4">20</option>
                    <option value="070" data-chained="4">20.5</option>
                    <option value="071" data-chained="4">21</option>
                    <option value="072" data-chained="4">21.5</option>
                    <option value="073" data-chained="4">40</option>
                    <option value="074" data-chained="4">60</option>
                    <option value="075" data-chained="4">80</option>
                    <option value="076" data-chained="4">CH</option>
                    <option value="077" data-chained="4">M</option>
                    <option value="078" data-chained="4">G</option>
                    <option value="079" data-chained="4">XG</option>
                    <option value="080" data-chained="5">UN</option>
                    <option value="081" data-chained="5">10</option>
                    <option value="082" data-chained="5">12</option>
                    <option value="083" data-chained="5">14</option>
                    <option value="084" data-chained="5">16</option>
                    <option value="085" data-chained="5">18</option>
                    <option value="086" data-chained="5">28</option>
                    <option value="087" data-chained="5">30</option>
                    <option value="088" data-chained="5">32</option>
                    <option value="089" data-chained="5">34</option>
                    <option value="090" data-chained="5">36</option>
                    <option value="091" data-chained="5">38</option>
                    <option value="092" data-chained="5">40</option>
                    <option value="093" data-chained="5">42</option>
                    <option value="094" data-chained="5">44</option>
                    <option value="095" data-chained="5">60</option>
                    <option value="096" data-chained="5">80</option>
                    <option value="097" data-chained="6">10</option>
                    <option value="098" data-chained="6">12</option>
                    <option value="099" data-chained="6">40</option>
                    <option value="100" data-chained="6">60</option>
                    <option value="101" data-chained="6">80</option>
                    <option value="102" data-chained="7">PZA0</option>
                    <option value="103" data-chained="7">UN</option>
                    <option value="104" data-chained="7">10</option>
                    <option value="105" data-chained="7">12</option>
                    <option value="106" data-chained="7">14</option>
                    <option value="107" data-chained="7">16</option>
                    <option value="108" data-chained="7">18</option>
                    <option value="109" data-chained="7">32</option>
                    <option value="110" data-chained="7">34</option>
                    <option value="111" data-chained="7">36</option>
                    <option value="112" data-chained="7">38</option>
                    <option value="113" data-chained="7">40</option>
                    <option value="114" data-chained="7">42</option>
                    <option value="115" data-chained="7">60</option>
                    <option value="116" data-chained="7">80</option>
                    <option value="117" data-chained="7">XCH</option>
                    <option value="118" data-chained="7">CH</option>
                    <option value="119" data-chained="7">M</option>
                    <option value="120" data-chained="7">G</option>
                    <option value="121" data-chained="7">XG</option>
                </select>
                <label><span style="color: red; font-size: small; ">* </span>Color:</label>{{ form.color }}
                <label><span style="color: red; font-size: small; ">* </span>Promoción:</label>{{ form.promocion }}
            </div>

            <div class="col-3 offset-1">
                <label>Existencias:</label>{{ form.stock }}
                <label>Precio de costo:</label>{{ form.precio_compra }}
                <label>Precio de venta:</label>{{ form.precio_venta }}
                <label class="col-12" style="margin-left: -7px;">Imagen:</label>{{ form.img }}
            </div>
        </div>

        <span style="display: none;">
            <input type="text" name="nombre" maxlength="40" required="" id="id_nombre" value="ROPA">
        </span>
        <span style="display: none;">{{ form.fecha_final_promocion }}</span>
        <span style="display: none;">{{ form.tipo }}</span>
        <span style="display: none;">{{ form.almacen }}</span>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fas fa-plus mr-2"></i>Registrar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
</form>

<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/chained-selects.js' %}"></script>
<script src="{% static 'js/zepto-selector.js' %}"></script>
<script>
$(function(){
    $("#id_talla").chained("#id_genero");
});
</script>