{% load widget_tweaks %}

<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="modal-header" style="background: #1D2535; color: #fff;">
        <h5 class="modal-title">EDITAR - {{ productos.nombre }}</h5>
        <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times" style="color: white;"></i></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-3 mb-1">
                <h5><b>INFORMACIÓN</b></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-3 ml-5">
                <!--
                <label>Código de barras:</label>{{ form.barcode }}
                <div class="{% if form.errors %}invalid{% endif %}"></div>
                {% for error in form.errors %}
                    <p style="color: red; font-size: small; ">¡Ya existe un producto con este código de barras!</p>
                {% endfor %}
                -->
                <label>Nombre:</label>{{ form.nombre }}
                <label>Modelo:</label>{{ form.modelo }}
                <label>Proveedor:</label>{{ form.proveedor }}
                <label>Marca:</label>{{ form.marca }}
                <label>Código de barras exterior:</label>{{ form.barcode_exterior }}
            </div>

            <div class="col-3 offset-1">
                <label>Color:</label>{{ form.color }}
                <label>Género:</label>{{ form.genero }}
                <label>Talla:</label>{{ form.talla }}
                <label>Línea:</label>{{ form.linea_r }}
                <label>Promoción:</label>{{ form.promocion }}
            </div>

            <div class="col-3 offset-1">
                <label>Existencias:</label>{{ form.stock }}
                <label>Precio de costo:</label>{{ form.precio_compra }}
                <label>Precio de venta:</label>{{ form.precio_venta }}
                <label class="col-12" style="margin-left: -7px;">Imagen:</label>{{ form.img }}
            </div>
        </div>
        
        <span style="display: none;">{{ form.tipo }}</span>
        <span style="display: none;">{{ form.almacen }}</span>        
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fas fa-pencil-alt mr-2"></i>Editar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
</form>