{% load widget_tweaks %}

<div class="modal-header" style="background: #1D2535; color: #fff;">
    <h5 class="modal-title">ROPA - {{ productos.nombre }}</h5>
    <button type="button" class="close" data-dismiss="modal"><i class="fas fa-times" style="color: white;"></i></button>
</div>

<div class="modal-body">
    <div class="row">
        {% if productos.img %}
            <div class="col-2" style="padding: 20px; text-align: center;">
                <img src="http://127.0.0.1:8000/media/{{ productos.img }}" width="190" height="155">    
            </div>
            <div class="col-10 mt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 142px;">Código de barras</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center" style="width: 100px;">Modelo</th>
                            <th class="text-center" style="width: 140px;">Proveedor</th>
                            <th class="text-center" style="width: 170px;">Marca</th>
                            <th class="text-center" style="width: 100px;">Color</th>
                            <th class="text-center" style="width: 70px;">Talla</th>
                            <th class="text-center" style="width: 90px;">Linea</th>
                            <th class="text-center" style="width: 90px;">Existencias</th>
                            <th class="text-center" style="width: 130px;">Precio venta</th>
                            <th class="text-center" style="width: 130px;">Precio compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">{{ productos.barcode }}</td>
                            <td class="text-center">{{ productos.nombre }}</td>
                            <td class="text-center">{{ productos.modelo }}</td>
                            <td class="text-center">{{ productos.proveedor }}</td>
                            <td class="text-center">{{ productos.marca }}</td>
                            <td class="text-center">{{ productos.get_color_display }}</td>
                            <td class="text-center">{{ productos.get_talla_display }}</td>
                            <td class="text-center">{{ productos.get_linea_display }}</td>
                            <td class="text-center">{{ productos.stock }}</td>
                            <td class="text-center">{{ productos.precio_venta }}</td>
                            <td class="text-center">{{ productos.precio_compra }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 142px;">Código de barras</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center" style="width: 100px;">Modelo</th>
                            <th class="text-center" style="width: 140px;">Proveedor</th>
                            <th class="text-center" style="width: 170px;">Marca</th>
                            <th class="text-center" style="width: 100px;">Color</th>
                            <th class="text-center" style="width: 70px;">Talla</th>
                            <th class="text-center" style="width: 90px;">Linea</th>
                            <th class="text-center" style="width: 90px;">Existencias</th>
                            <th class="text-center" style="width: 130px;">Precio venta</th>
                            <th class="text-center" style="width: 130px;">Precio compra</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">{{ productos.barcode }}</td>
                            <td class="text-center">{{ productos.nombre }}</td>
                            <td class="text-center">{{ productos.modelo }}</td>
                            <td class="text-center">{{ productos.proveedor }}</td>
                            <td class="text-center">{{ productos.marca }}</td>
                            <td class="text-center">{{ productos.get_color_display }}</td>
                            <td class="text-center">{{ productos.get_talla_display }}</td>
                            <td class="text-center">{{ productos.get_linea_display }}</td>
                            <td class="text-center">{{ productos.stock }}</td>
                            <td class="text-center">{{ productos.precio_venta }}</td>
                            <td class="text-center">{{ productos.precio_compra }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %} 
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>